<div class="fb-group-wrapper container">
    <div class="d-flex justify-content-between fb-group-inner">
      <div class="d-flex flex-column">
        <h2>Creative Hub community</h2>
        <p class="join-fb">Join our Facebook group with over 1,600 students</p>
      <a href="https://www.facebook.com/groups/857018105003649/"  class="btn d-flex align-items-center justify-content-between fb-button">
          <div class="d-flex align-items-center">
            <img class="me-3" src="../../../assets/reusable/fb_icon.png"/>
            <span class="cabin">Go to Facebook group</span>
          </div>
          <div>
            <img class="justify-self-end" src="../../../assets/reusable/right_arrow.png"/>
          </div>

      </a>
        <div class="d-none d-lg-block joined-text">
          <img src="../../../assets/reusable/fb_joined.png"/>
          <p><b>250+ people</b> joined in the last 30 days</p>
        </div>
      </div>
      <img class="fb-community-img d-none d-lg-block img-fluid" src="../../../assets/reusable/fb_community_img.png"/>
    </div>
  </div>


  
