<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content register">
            <div class="container main-wrapper" id="form">
                <div class="holder">


                    <div class="form-card">

                        <div class="form-element">

                        </div>
                        <div class="second-form-element">

                        </div>

                        <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_69_"
                            class="_form _form_69 _inline-form  _dark" novalidate>
                            <input type="hidden" name="u" value="69" />
                            <input type="hidden" name="f" value="69" />
                            <input type="hidden" name="s" />
                            <input type="hidden" name="c" value="0" />
                            <input type="hidden" name="m" value="0" />
                            <input type="hidden" name="act" value="sub" />
                            <input type="hidden" name="v" value="2" />
                            <input type="hidden" name="or" value="af29f26ccb4e47ea0d1aa817fe0c2b48" />
                            <div class="_form-content">
                                <div class="_form-title">
                                    Enter your email below and we’ll send the report in no time.
                                </div>
                                <div class="_form_element _x59430326 _full_width _clear">

                                </div>
                                <!-- <div class="_form_element _x65951371 _full_width _clear" >
                   <div class="_html-code">
                  
                   </div>
                 </div> -->
                                <div class="_form_element _x16838614 _full_width ">
                                    <label for="fullname" class="_form-label">
                                        Full Name*
                                    </label>
                                    <div class="_field-wrapper">
                                        <input type="text" id="fullname" name="fullname" placeholder="e.g Robin Barkley"
                                            required />
                                    </div>
                                </div>
                                <div class="_form_element _x50688643 _full_width ">
                                    <label for="email" class="_form-label">
                                        Email*
                                    </label>
                                    <div class="_field-wrapper">
                                        <input type="text" id="email" name="email" placeholder="e.g michael@outlook.com"
                                            required />
                                    </div>
                                </div>

                                <div class="_button-wrapper _full_width">
                                    <button id="_form_69_submit" class="_submit" type="submit">
                                        Find out
                                    </button>
                                </div>
                                <div class="_clear-element">
                                </div>
                            </div>
                            <div class="_form-thank-you" id="thank-you-submit" style="display:none;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>