<footer>
        <div class="footer-wrapper" [style.background]="footerBg">
                <p>Our vision is “Successful career made possible!”.</p>
                <h3 class="cabin">{{helpText}}</h3>
                <p>The Program is based on real projects, individual mentorship and job
                        placement support. </p>
                <div class="my-5 to-academy-btn"> <a [href]="linkToAcademy"
                                [style.background]="goToBg" [style.color]="goToColor" [style.border]="goToBorder">
                                {{whichAcademy}} </a></div>
        </div>
        <div class="footer-bottom">
                <div class="footer-media">
                        <a href="https://www.facebook.com/creativehubmiami/"><img
                                        src="../../../assets/webinars/fb-logo.svg"
                                        class="responsive" alt="Facebook logo"></a>
                        <a
                                href="https://www.linkedin.com/company/creative-hub-academy/"><img
                                        src="../../../assets/webinars/linkedin-logo.svg"
                                        class="responsive" alt="Linkedin Logo"></a>
                        <a href="https://www.instagram.com/creativehubmiami/"><img
                                        src="../../../assets/webinars/insta-logo.svg"
                                        class="responsive" alt="Instagram Logo"></a>
                </div>
                <div class="copyright">© Copyright 2022 Creative Hub</div>
        </div>
        
</footer>