<app-navbar></app-navbar>
<div class="container my-10">
    <h1>Community Guidelines</h1>
    <h2>CREATIVE HUB COMMUNITY GUIDELINES</h2>
    <p>Creative Hub seeks to provide a safe, inclusive, productive learning environment for every user of Creative Hub
        Services and the Creative Hub Community at large. To support this objective, participants in Creative Hub
        Services and the Creative Hub Community must follow these Community Guidelines which apply to: Creative Hub team
        members; students and candidates for admission; course and program instructors; program attendees and
        participants; enterprise clients; Online Live or remote participants; industry and education partners and
        third-party service providers. These Guidelines should be read to apply to use of the Internet and IT platforms
        associated with Creative Hub. <br> <br> The Community Guidelines:</p>
    <ul>
        <li><b>Behave</b> in a professional manner, using common sense and decency.</li>
        <li><b>Treat Community members, including staff and fellow students, fairly and with respect.</b></li>
        <li>
            <b>Respect the right of other members to share their views,</b> even if they may not be the same as your
            own.
        </li>
        <li>
            <b>Be respectful</b> of the premises, facilities, and learning environment, both physical and online. Keep
            all
            premises and public spaces safe, clean, and tidy, including your personal work zone, common areas, kitchen,
            lounge, and washrooms. Clean up after yourself, dispose of uneaten food and litter in the receptacles
            provided.
        </li>
        <li>
            <b>Do not behave in any way that: is dangerous, offensive; could endanger anyone’s safety or property or
                personal comfort, or disrupts any other team member’s use or enjoyment of Creative Hub.</b>
        </li>
        <li>
            <b>For online participants:</b> keep in mind that you are participating in a professional education
            experience and
            are expected to maintain suitable decorum and conduct as though attending a Creative Hub campus or in-person
            program. For example, you must dress appropriately and participate from a suitable professional setting
            compatible with these Guidelines.
        </li>
        <li>
            <b>Do not</b> use discriminatory or offensive language; do not make derogatory, inflammatory or personal
            remarks
            about other members; do not harass, bully, threaten, or intimidate others, or encourage others to do so; do
            not use sexualized language or imagery; do not attend or participate in Creative Hub services while
            intoxicated.
        </li>
        <li>
            <b> Do not disclose or post unauthorized personal or private information</b> about others, such as physical
            or electronic addresses, without explicit consent.
        </li>
        <li> <b>Comply with applicable laws and regulations,</b> including those relating to privacy, spam, safety,
            human
            rights, copyright, and intellectual property. Except during authorized events, do not consume alcohol at
            Creative Hub. Illegal drugs and tobacco products are prohibited in our Community.</li>
        <li> <b>Comply with the reasonable requests of Creative Hub personnel</b> regarding use of Creative Hub
            facilities and Services, including all security, safety and evacuation procedures.</li>
        <li> <b>Creative Hub is not responsible for lost or stolen articles</b> so please take appropriate measures to
            protect or secure your property.</li>
    </ul>
    <p>Please report any concerns, unsafe conditions, or violation of these Community Guidelines to any Creative Hub
        team member or to info@creativehubacademy.co <br> <br>
        <b>Creative Hub reserves the right, in its sole discretion, to suspend participation without notice of a
            Community member who violates these Guidelines and/or require them to alter their conduct or withdraw from
            Creative Hub Services immediately, based on circumstances.</b>
    </p>
</div>


<app-footer></app-footer>