<div class="d-flex d-lg-block flex-column">
    <div class="sticky-card order-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex"> <img src="assets/webinars/Video.svg"
                    alt="Video">
                <p>Online</p></div>
            <div class="d-flex">
                <img src="assets/webinars/Calendar.svg" alt="Calendar">
                <p>05.05.2022</p>
            </div>
            <div class="d-flex">
                <img src="assets/webinars/Time.svg" alt="Time">
                <p>7:00 PM (EST)</p>
            </div>
        </div>
        <form method="POST"
            action="https://akoskarova.activehosted.com/proc.php"
            id="_form_91_" class="_form _form_91 _inline-form _dark"
            novalidate>
            <input type="hidden" name="u" value="91" />
            <input type="hidden" name="f" value="91" />
            <input type="hidden" name="s" />
            <input type="hidden" name="c" value="0" />
            <input type="hidden" name="m" value="0" />
            <input type="hidden" name="act" value="sub" />
            <input type="hidden" name="v" value="2" />
            <input type="hidden" name="or"
                value="6de920a622d9d5530850eaff126048b4" />
            <div class="_form-content">

                <div class="_form_element _x08165499 _full_width">
                    <label for="fullname" class="_form-label">
                        Name
                    </label>
                    <div class="_field-wrapper">
                        <input type="text" id="fullname" name="fullname"
                            placeholder="e.g Robin Barkley" />
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _x32855400 _full_width">
                    <label for="email" class="_form-label">
                        E-mail
                    </label>
                    <div class="_field-wrapper">
                        <input type="text" id="email" name="email"
                            placeholder="e.g michael@outlook.com" required/>
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _x71952103 _full_width">
                    <label for="phone" class="_form-label">
                        Phone
                    </label>
                    <div class="_field-wrapper">
                        <input type="text" id="phone" name="phone"
                            placeholder="Type your phone number" />
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_button-wrapper _full_width">
                    <button id="_form_91_submit" class="_submit register-btn"
                        type="submit">
                        Register
                    </button>
                </div>
                <div class="_clear-element">
                </div>
            </div>
            <div class="_form-thank-you" style="display:none;">
            </div>
        </form>
    </div>
    <div class="order-1">
        <app-webinar-header [headerBackground]="headerBackground"
            [array_of_header_info]="array_of_header_info"
            [array_of_list]="array_of_list">
        </app-webinar-header>
    </div>
    <div class="order-3">
        <app-webinar-container [lecturerImg]="lecturerImg"
            [array_of_lecturer_card_info]="array_of_lecturer_card_info"
            [array_of_skills_list]="array_of_skills_list"
            [array_of_testemonial]="array_of_testemonial"
            [array_of_benefits]="array_of_benefits" [didYouKnow]="didYouKnow"
            [firstListTitle]="firstListTitle"
            [array_of_requirements]="array_of_requirements"></app-webinar-container>
    </div>
</div>


<app-webinar-footer [footerBg]="footerBg" [linkToAcademy]="linkToAcademy"
    [goToBg]="goToBg" [whichAcademy]="whichAcademy" [goToColor]="goToColor"
    [goToBorder]="goToBorder" [helpText]="helpText"></app-webinar-footer>