<app-navbar></app-navbar>

<app-page-loader *ngIf="!selectedFeaturedArticle"></app-page-loader>
<div *ngIf="selectedFeaturedArticle">
  <div class="page-wrapper">
    <div class="position-relative">
      <div class="header-img-bg"
           [style.background]="'linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + selectedFeaturedArticle.introImageUrl + ')'"></div>
      <div class="container">
        <div class="d-flex gap-4 featured-articles-wrapper">
          <div class="selected-img" [routerLink]="selectedFeaturedArticle.alias">
            <div class="selected-img-inner h-100 w-100"
                 [style.background]="'linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + selectedFeaturedArticle.introImageUrl + ')'">
              <div class="selected-article">
                <div class="must-read d-flex align-items-center">
                  <div class="circle"></div>
                  Must read
                </div>
                <h1>{{selectedFeaturedArticle.title}}</h1>
                <h3>{{selectedFeaturedArticle.description}}</h3>
                <h5 class="article-time">{{getTimeAgo(selectedFeaturedArticle.published)}}
                  in
                  <h4 class="article-category"
                      [style.background]="'-webkit-' + getCategoryColorById(selectedFeaturedArticle.categoryId)">
                    {{getCategoryNameById(selectedFeaturedArticle.categoryId)}}
                  </h4>
                </h5>
              </div>
            </div>
          </div>

          <div class="most-popular-section">
            <app-featured-articles-slider [articles]="featuredArticles"
                                          (articleSelected)="featuredArticleSelected($event)"
                                          [categories]="categories"></app-featured-articles-slider>
          </div>
        </div>

        <div
          class="newest-box position-relative d-flex flex-wrap justify-content-lg-between gap-3">
          <div class="newest-title">
            <h2>NEWEST</h2>
          </div>
          <ng-container *ngFor="let article of allArticles.slice(0,3)">
            <div class="d-flex align-items-center cursor-pointer" [routerLink]="article.alias">
              <div class="article-image me-3">
                <img [src]="article.introImageUrl" alt="Article image"/>
              </div>
              <div class="d-flex flex-column">
                <div>
                  <h5 class="article-time m-0 mb-1">{{getTimeAgo(article.published)}}
                    in
                    <h4 class="article-category"
                        [style.background]="'-webkit-' + getCategoryColorById(article.categoryId)">
                      {{getCategoryNameById(article.categoryId)}}
                    </h4>
                  </h5>
                </div>
                <div>
                  <h2 class="article-title m-0">{{article.title}}</h2>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="articles-categories">
    <div class="container">
      <div class="article" *ngFor="let mapItem of articlesByCategory | keyvalue">
        <ng-container *ngIf="mapItem.value.length">
          <h2 class="category-title">{{getCategoryNameById(mapItem.key)}}</h2>
          <hr>
          <div class="d-flex flex-wrap gap-3 articles">
            <ng-container *ngFor="let article of mapItem.value.slice(0,6)">
              <app-article [article]="article"></app-article>
            </ng-container>
          </div>
          <div *ngIf="mapItem.value.length > 6" class="d-flex justify-content-end">
            <button class="see-more" (click)="goToCategory(mapItem.key)">
              See more <img src="assets/news/right-arrow-blue.png" alt="Right arrow"/>
            </button>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="container d-flex flex-wrap justify-content-center">
      <div class="hire-box">
        <div class="hire-text position-relative">
          <img class="left-top-border" src="assets/news/border-cut.png"/>
          <img class="left-bottom-border" src="assets/news/border-cut.png"/>
          <img class="right-top-border" src="assets/news/border-cut.png"/>
          <img class="right-bottom-border" src="assets/news/border-cut.png"/>
          <h2>GET <span>HIRED</span> OR</h2>
          <h2 class="second-text"><span>HIRE</span> THROUGH US</h2>
        </div>

        <p class="hire-desc">
          After the graduation join our <b>HIRING PLATFORM!</b><br><br>

          And connect with <b>100+</b> hiring companies
        </p>

        <button class="btn hire-btn">Register your company</button>
      </div>

      <div>
        <img class="img-fluid" src="assets/news/hire-img.png"/>
      </div>
    </div>
  </div>

  <app-footer [subscribeBorder]="footerBorder" [arrowBg]="arrowBg"></app-footer>
</div>
