<div class="box-position hide" id="wheelBox">
    <div id="box" class="box">
        <div id="wheel" class="wheel">

            <div class="sections1">
                <span class="section1"><b>Free Career Consultation</b></span>
                <span class="section2"><b>$50</b></span>
                <span class="section3"><b>$80</b></span>
            </div>

            <div class="sections2">
                <span class="section1"><b>$100</b></span>
                <span class="section2"><b>$10</b></span>
                <span class="section3"><b>$20</b></span>
            </div>

        </div>

        <!-- <h3 id="category"></h3> -->
        <button class="spin" id="spinner">SPIN</button>
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-content-inner">
        <h4 id="category" class="cabin"></h4>
        <br>
        <h5 class="cabin">Enter your email below to get the prize.</h5>
        <form method="POST"
            action="https://akoskarova.activehosted.com/proc.php" id="_form_99_"
            class="_form _form_99 _inline-form _dark" novalidate>
            <input type="hidden" name="u" value="99" />
            <input type="hidden" name="f" value="99" />
            <input type="hidden" name="s" />
            <input type="hidden" name="c" value="0" />
            <input type="hidden" name="m" value="0" />
            <input type="hidden" name="act" value="sub" />
            <input type="hidden" name="v" value="2" />
            <input type="hidden" name="or"
                value="347d562fa0ac3cf80edd8fa95cc0c03c" />
            <div class="_form-content">
                <div class="_form_element _x25485614 _full_width">
                    <div class="_field-wrapper">
                        <input type="text" id="fullname" name="fullname"
                            style="visibility: hidden;" placeholder="Type your
                            name" />
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _x21516924 _full_width">
                    <label for="email" class="_form-label">
                        Email
                    </label>
                    <div class="_field-wrapper">
                        <input type="text" id="email" name="email"
                            placeholder="e.g michael@outlook.com" required/>
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_button-wrapper _full_width">
                    <button id="_form_99_submit" class="_submit" type="submit">
                        Submit
                    </button>
                </div>
                <div class="_clear-element">
                </div>
            </div>
            <div class="_form-thank-you" style="display:none;">
            </div>
        </form>
    </div>
    <img src="assets/reusable/x.svg"  id="closeBtn" alt="">
</div>
</div>
