<div class="wrapper section-m">
    <div class="wrapper-inner">
        <h2>NOT SURE?</h2>
        <h4>Take the first class for FREE.</h4>
            <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_318_" class="_form _form_318 _inline-form  _dark" novalidate>
                <input type="hidden" name="u" value="318" />
                <input type="hidden" name="f" value="318" />
                <input type="hidden" name="s" />
                <input type="hidden" name="c" value="0" />
                <input type="hidden" name="m" value="0" />
                <input type="hidden" name="act" value="sub" />
                <input type="hidden" name="v" value="2" />
                <input type="hidden" name="or" value="c61c80894d9de72e7876397a859081f3" />
            <div class="_form-content">
                <div class="_form_element _x59599571 _full_width ">
                    <div class="_field-wrapper">
                        <input type="text" id="email" name="email"
                            placeholder="Type your email" required/>
                    </div>
                </div>
                <div class="_button-wrapper _full_width">
                    <button id="_form_318_submit" class="_submit" type="submit">
                        <img src="../../../../assets/reusable/message.png"
                            class="me-2" alt="Message"> Submit
                    </button>
                </div>
                <div class="_clear-element">
                </div>
            </div>
            <div class="_form-thank-you" style="display:none;">
            </div>
        </form>
    </div>
</div>


         <!-- <div class="_form-content">
           <div class="_form_element _x98233073 _full_width " >
             <div class="_field-wrapper">
               <input type="text" id="email" name="email" placeholder="Type your email" required/>
             </div>
           </div>
           <div class="_button-wrapper _full_width">
             <button id="_form_318_submit" class="_submit" type="submit">
               Submit
             </button>
           </div>
           <div class="_clear-element">
           </div>
         </div>
         <div class="_form-thank-you" style="display:none;">
         </div>
    -->