
<div class="intro">
    <app-navbar></app-navbar>
    <div class="intro-wrapper">
        <div class="container-section">
            <div class="intro-left">
                <a routerLink="../"><img src="assets/reusable/back.svg"  alt=""> Go back</a>
                <h2>Future proof courses</h2>
                <h1>Intro to Data Science</h1>
                <h3>Learn to analyze data to highlight patterns and trends.</h3>
            </div>
            <div class="intro-right">
                <p>Fill in the form and get access to  the program curriculum.</p>
                <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_266_" class="_form _form_266 _inline-form  _dark" novalidate>
                    <input type="hidden" name="u" value="266" />
                    <input type="hidden" name="f" value="266" />
                    <input type="hidden" name="s" />
                    <input type="hidden" name="c" value="0" />
                    <input type="hidden" name="m" value="0" />
                    <input type="hidden" name="act" value="sub" />
                    <input type="hidden" name="v" value="2" />
                    <input type="hidden" name="or" value="14dd6b40ce999b74985cca7a4365b125" />
                    <div class="_form-content">
                      <div class="_form_element _x80641187 _full_width " >
                        <label for="fullname" class="_form-label">
                            Name and surname
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="fullname" name="fullname" placeholder="e.g Robin Barkley" required/>
                        </div>
                      </div>
                      <div class="_form_element _x18457031 _full_width " >
                        <label for="email" class="_form-label">
                            E-mail
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="email" name="email" placeholder="e.g  robin@mail.com" required/>
                        </div>
                      </div>
                      <div class="_form_element _x69846687 _full_width " >
                        <label for="phone" class="_form-label">
                            Phone number         
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="phone" name="phone" placeholder="Type your phone number" required/>
                        </div>
                      </div>
                      <div class="_form_element _x65176142 _full_width " >
                        <label for="field[7]" class="_form-label">
                    Position
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="field[7]" name="field[7]" value="" placeholder="Position" required/>
                        </div>
                      </div>
                      <div class="_button-wrapper _full_width">
                        <button id="_form_266_submit" class="_submit" type="submit">
                            Download
                        </button>
                      </div>
                      <div class="_clear-element">
                      </div>
                    </div>
                    <div class="_form-thank-you" style="display:none;">
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>


