
<section class="bg fixed-navbar-padding">
    <app-navbar [showLightNavbar]="true"></app-navbar>
    <!-- <app-wheel-test></app-wheel-test> -->
    <div class="header">
        <div class="container-section">
            <h1>We help people LAND <br>
                <span> careers in tech! <hr class="title-hr"></span>
            </h1>
            <h2>Schedule a FREE career call</h2>
            <div class="d-flex justify-content-center">
                <a href="https://calendly.com/creative-hub-academy/30min"
                    target="_blank"><button><img src="assets/homepage/video.svg"
                            class="me-2" alt="Video">Schedule here</button></a>
            </div>
            <!-- <app-career-coaching></app-career-coaching> -->

            <div class="row bubbles">
                <div class="col-md-12 text-start">
                    <h4 class="cabin">We offer you:</h4>
                </div>
                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> Best Price!</h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> Less-than-a-year program </h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> International experience</h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> For Beginners </h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> Project-based learning </h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-6">
                    <div class="header-bubble">
                        <div class="header-bubble-inner">
                            <h4> Job match</h4>
                            <img src="assets/homepage/header-bubble.svg"
                                class="d-none d-lg-block" alt="Bubble">
                            <img src="assets/homepage/header-bubble-mobile.svg"
                                class="d-block d-lg-none" alt="Header Bubble">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right-place-wrapper">
        <div class="container-section right-place">
            <h2>You are in the right place if <br>
                <span class="title-gradient">YOU are individual</span>
            </h2>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>Are looking for a career change</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>Are unemployed and are looking to learn skills and get hired</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>Want to advance your career</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>You want to be well-paid, work remotely forever and thrive</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>You are just starting your career and you want to get tech
                    skills</h4>
            </div>
            <img src="../../../assets/homepage/individual-absolute.png"
                class="individual-absolute d-none d-lg-block" alt="Students">
        </div>
    </div>

    <div class="container-section">
        <h2>AND you are ALSO on the right place if <br>
            <span class="title-gradient">YOU are entrepreneur</span>
        </h2>

    </div>


    <div class="right-place-2">
        <div class="right-place-2-inner">
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>Care for your employees and want to include training in your
                    <span routerLink="enterprise">Benefits program</span></h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>Care for your company growth and you want to upgrade it with
                    technology</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>You have business skills or MBA but you want to add new
                    “in-demand” skills</h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>You want to be well-paid, work remotely forever and thrive
                </h4>
            </div>
            <div class="right-place-li">
                <img src="assets/homepage/thick-gradient.svg" alt="Thick">
                <h4>You are entrepreneur who wants to invest in his own skills
                    instead of paying someone else’s
                </h4>
            </div>
        </div>
    </div>




    <div class="model-wrapper section-m">
        <div class="container-section">
            <h2>OUR MODEL:</h2>
        </div>
        <div class="model">
            <div class="container-section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="model-card">
                            <div class="model-card-inner d-flex flex-column
                                justify-content-center align-items-center">
                                <img src="assets/homepage/model1.svg"
                                    alt="Model">
                                <h4>Live Mentorship</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="model-card">
                            <div class="model-card-inner d-flex flex-column
                                justify-content-center align-items-center">
                                <img src="assets/homepage/model2.svg"
                                    alt="Model">
                                <h4>Practical projects</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="model-card">
                            <div class="model-card-inner d-flex flex-column
                                justify-content-center align-items-center">
                                <img src="assets/homepage/model3.svg"
                                    alt="Model">
                                <h4>100+ Learning & Hiring Partners</h4>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="text-center">EXCLUSIVE FOR
                    <span>TRAVEL & LEARN</span> STUDENTS
                </h4>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <div class="model-card">
                            <div class="model-card-inner d-flex flex-column
                                justify-content-center align-items-center">
                                <img src="assets/homepage/model4.png"
                                    class="responsive" alt="Model">
                                <h4>Travel </h4>
                                <p>Travel & enjoy it with our 1 month summer
                                    program
                                    in Europe.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="model-card">
                            <div class="model-card-inner d-flex flex-column
                                justify-content-center align-items-center">
                                <img src="assets/homepage/model5.png"
                                    class="responsive" alt="Model">
                                <h4>Networking</h4>
                                <p> Build an International Network & meet
                                    industry
                                    professionals during your trip.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="https://calendly.com/creative-hub-academy/30min"
                        target="_blank"> <p class="p-underline">Find out more
                            about
                            Travel & Learn</p></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-section colours section-m">
        <div class="green">
            <h3>
                5K+ <br>
                <span>Alumni students</span>
            </h3>
        </div>
        <div class="pink">
            <h3> 68 <br>
                <span>Hiring partners</span></h3>
        </div>
        <div class="blue">

            <h3> 3 <br>
                <span>Campuses </span></h3>
        </div>
        <div class="violet">

            <h3> 200+ <br>
                <span>Instructors </span></h3>
        </div>
    </div>

    <div class="students section-m">
        <div class="container-section ">
            <h2>Why should you ENROLL WITH us? </h2>
            <h3>Because we have over
                <span>10k career transformation stories</span> to share with you…</h3>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="student-card">
                        <img src="../../../assets/homepage/navodnicni.svg"
                            alt="Navodnici">
                        <p>During my high school years, in 2018, I took the Creative
                            Hub Graphic Design Course. <br> <br>
    
                            The curriculum equipped me with the knowledge I needed
                            to be accepted into Miami Ad School Berlin's creative
                            program and now work as a freelance Art Director in
                            Berlin.
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="../../../assets/homepage/sandra.png" alt="CH
                                Student">
                            <div>
                                <b class="cabin">Tamara</b>
                                <p class="m-0">Graphic Designer</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="student-card">
                        <img src="../../../assets/homepage/navodnicni.svg"
                            alt="Navodnici">
                        <p>I graduated from Creative Hub Course in 2021, and Ariana
                            noticed my portfolio and invited me to join the Creative
                            Hub
                            Team as a junior designer. <br> <br>
    
                            I've been working for Creative Hub for almost 8 months
                            now,
                            and I'm repaying my course tuition.
    
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="../../../assets/homepage/sandra.png" alt="CH
                                Student">
                            <div>
                                <b class="cabin">Sandra</b>
                                <p class="m-0">Graphic Designer</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="student-card">
                        <img src="../../../assets/homepage/navodnicni.svg"
                            alt="Navodnici">
                        <p>I decided not to go to college and instead pursue a data
                            science career by taking courses. <br> <br>
    
                            I enrolled in the Creative Hub Data
                            Science Course in 2021.
                            I was hired as a data analyst at Quantix through their
                            Hiring Partners program.
    
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="../../../assets/homepage/olti.png" alt="CH
                                Student">
                            <div>
                                <b class="cabin">Olti</b>
                                <p class="m-0">Graphic Designer</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
            <img src="../../../assets/homepage/student-right-absolute-bg.svg" class="bg-absolute" alt="Rectangels">
<div class="text-center">
    <img src="../../../assets/homepage/swipe.svg" class="d-block d-lg-none mx-auto mt-3" alt="Swipe">
</div>
        </div>
    </div>

    <div class="podcast section-m">
        <h4>We’re live! Don’t miss our meet-up with special guests.</h4>
        <div class="d-flex justify-content-center">
            <img src="assets/homepage/ch-logo.svg" alt="CH Logo">
            <a href="https://www.podbean.com/ew/pb-xnfad-11e1afb"><img
                    src="assets/homepage/podcast.png" alt="Podcast"></a>
        </div>
    </div>

    <div class="container-section section-m">
        <h2>Our courses</h2>
        <div class="courses">

            <div class="course-card-wrapper">
                <div class="course-card">
                    <img src="../../../assets/homepage/digital-card.svg"
                        alt="Digital Course">
                    <h4>Digital Marketing Course</h4>
                    <p>Right choice for bloggers, photographers, content
                        creators, influencers who wants to deep dive their
                        creative skills.</p>
                    <button routerLink="/digital-marketing">View program</button>
                </div>
            </div>
            <div class="course-card-wrapper">
                <div class="course-card">
                    <img src="../../../assets/homepage/graphic-card.svg"
                        alt="Digital Course">
                    <h4>Graphic Design Course</h4>
                    <p>Right choice for bloggers, photographers, content
                        creators, influencers who wants to deep dive their
                        creative skills.</p>
                    <button routerLink="graphic-design-bootcamp">View program</button>
                </div>
            </div>
            <div class="course-card-wrapper">
                <div class="course-card">
                    <img src="../../../assets/homepage/data-card.svg"
                        alt="Digital Course">
                    <h4>Data Science Course</h4>
                    <p>Perfect for career changers with 
                        passion for numbers</p>
                    <button routerLink="data-science-bootcamp">View program</button>
                </div>
            </div>
            <div class="course-card-wrapper">
                <div class="course-card">
                    <img src="../../../assets/homepage/front-card.svg"
                        alt="Digital Course">
                    <h4>Front End Dev. Course</h4>
                    <p>Great career choice that is also
                        well-paid and in demand</p>
                    <button routerLink="front-end-bootcamp">View program</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-section section-m">
        <h4 class="cabin">
            As seen in:
        </h4>
        <div class="text-center">
            <img src="assets/homepage/logos-mobile.png" class="responsive
                d-block d-lg-none" alt="Mobile logos">
                <img src="assets/homepage/desktop-logos.png" class="responsive
                d-none d-lg-block" alt="Mobile logos">
        </div>
    </div>

    <div class="container-section difference section-m">
        <h4 class="cabin">What makes us different? </h4>
        <div class="table-titles">
            <div class="table-titles-inner">
                <div class="udemy">Udemy</div>
                <div class="ch">Creative Hub</div>
            </div>
        </div>
        <div class="difference-table">
            <div class="table-left">
                <p>Bootcamp Programs</p>
                <p>100+ hours of Live Trainers</p>
                <p>Practical Projects</p>
                <p>Personal career coach (at no extra charge)</p>
                <p>Travel & Learn - International Experience</p>
                <p style="border: none;">No-interest installments</p>
            </div>
            <div class="table-right d-flex justify-content-evenly">
                <div class="table-left-1">
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div>
                        <img src="assets/homepage/circle-thick.svg" alt="Circle
                            thick">
                    </div>
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-x.svg" alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-x.svg" alt="Circle
                            thick"></div>
                    <div style="border: none;"> <img
                            src="assets/homepage/circle-x.svg"
                            alt="Circle
                            thick"></div>
                </div>
                <div class="table-right-1">
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div> <img src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                    <div style="border: none;"> <img
                            src="assets/homepage/circle-thick.svg"
                            alt="Circle
                            thick"></div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [subscribeBorder]="subscribeBorder" [arrowBg]="arrowBg"></app-footer>
</section>
