<div class="wrapper">
    <div class="wrapper-inner">
        <h2>You want to ask your employer to finance your training but you are
            not sure how to approach?</h2>
        <p>Register your email here and we will send you a video on how to
            explain the benefits of this training program to your employer.</p>
        <form method="POST"
            action="https://akoskarova.activehosted.com/proc.php"
            id="_form_316_" class="_form _form_316 _inline-form _dark"
            novalidate>
            <input type="hidden" name="u" value="316" />
            <input type="hidden" name="f" value="316" />
            <input type="hidden" name="s" />
            <input type="hidden" name="c" value="0" />
            <input type="hidden" name="m" value="0" />
            <input type="hidden" name="act" value="sub" />
            <input type="hidden" name="v" value="2" />
            <input type="hidden" name="or"
                value="de6ad0f4c4b73832b03d480eb5f57f67" />
            <div class="_form-content">
                <div class="_form_element _x59599571 _full_width ">
                    <div class="_field-wrapper">
                        <input type="text" id="email" name="email"
                            placeholder="Type your email" required/>
                    </div>
                </div>
                <div class="_button-wrapper _full_width">
                    <button id="_form_316_submit" class="_submit" type="submit">
                        <img src="../../../../assets/reusable/message.png"
                            class="me-2" alt="Message"> Submit
                    </button>
                </div>
                <div class="_clear-element">
                </div>
            </div>
            <div class="_form-thank-you" style="display:none;">
            </div>
        </form>
    </div>
</div>