
    <div class="alumni">
        <div class="alumni-text">
            <h2 class="cabin">Our alumni students work with the world’s leading companies</h2>
        </div>
        <div class="container">
            <div [style.background]="companiesBg" class="companies d-flex justify-content-evenly">
                <img src="../../../assets/reusable/messenger.svg" class="responsive" alt="Companies">
                <img src="../../../assets/reusable/paypal.svg" class="responsive" alt="Companies">
                <img src="../../../assets/reusable/playstation.svg" class="responsive" alt="Companies">
                <img src="../../../assets/reusable/whatsapp.svg" class="responsive" alt="Companies">
                <img src="../../../assets/reusable/netflix.svg" class="responsive" alt="Companies">
                <img src="../../../assets/reusable/sound-cloud.svg" class="responsive" alt="Companies">
            </div>
        </div>
    </div>
