<app-navbar></app-navbar>
<div class="bg">

    <div class="main-graphic-design-holder">
        <div class="academy-bg mobile-hide fixed-navbar-padding">
            <div class="windows">
                <img src="../../../assets/front-end/windows.png">

                <div class="english-speaking">
                    <span>English speaking</span>
                </div>
            </div>
            <div class="text">
                <div class="academy-title">
                    Front end academy
                </div>
                <div class="academy-secondary-text">
                    Become market ready and build your own GitHub<br> portfolio with Creative Hub Front-End<br>
                    Development Program.
                </div>
                <div class="secure-btn" (click)="goDown1()">
                    <span>Secure your place</span>
                </div>

            </div>
            <div class="career-possibilities-holder">
                <div class="buttons-holder">
                    <div class="english-speaking">
                        <img src="../../../assets/front-end/Send.svg">
                        <span>Beginner friendly</span>
                    </div>

                    <div class="english-speaking">
                        <img src="../../../assets/front-end/Work.svg">
                        <span>Guaranteed job/intership</span>
                    </div>

                    <div class="english-speaking">
                        <img src="../../../assets/front-end/Setting.svg">
                        <span>Practical work</span>
                    </div>
                </div>

                <div class="career-possibilities">
                    Career possibilities: <br>
                    Web developer | Junior Developer<br>
                    Front-end Developer
                </div>
            </div>
        </div>
        <div class="academy-bg-mobile mobile-show">
            <div class="academy-holder">
                <div class="academy-title">
                    FRONT END Academy
                </div>
                <div class="academy-secondary">
                    Become market ready and build your own GitHub portfolio with Creative Hub Front-End Development
                    Program.
                </div>
                <div class="academy-btn">
                    <span>Secure your place</span>
                </div>
            </div>
        </div>
        <div class="possibilities mobile-show-initial">
            <div class="english-speaking">
                <span>English speaking</span>
            </div>

            <div class="career-possibilities-holder-mobile ">
                <div class="beginer-friendly">
                    <img src="../../../assets/front-end/Send.svg" width="18px" height="18px">
                    <span>Beginner friendly</span>
                </div>

                <div class="job-intership">
                    <img src="../../../assets/front-end/Work.svg" width="18px" height="18px">
                    <span>Guaranteed job/intership</span>
                </div>

                <div class="practical-work">
                    <img src="../../../assets/front-end/Setting.svg" width="18px" height="18px">
                    <span>Practical work</span>
                </div>
            </div>
        </div>
        <div class="scroll-down mobile-hide">
            <div class="horizontal-line">

            </div>
            <div class="scroll-down-arrow pulsate-down">

            </div>
            <div class="second-horizontal-line">

            </div>
        </div>

        <div class="benefits">
            <div class="benefits-text">
                Why study in <span> Creative Hub?</span>
                <div class="secondary-text">
                    Because we have a personalized approach for each student, and it's not
                    everything...
                </div>
            </div>
            <div class="gradient-elements">

            </div>


            <div class="bubble-holder">
                <div class="expert-mentors bubble">
                    Expert <br> mentors
                </div>

                <div class="perfomance bubble">
                    Performance <br>
                    oriented system <br>
                    approach
                </div>
                <div class="certificates bubble">
                    International <br>
                    certificates
                </div>

                <div class="student-care bubble">
                    24/7 student<br>
                    care
                </div>
                <div class="community bubble">
                    Community of <br>
                    like-minded <br>
                    individuals
                </div>
            </div>

            <div class="questions">
                <div class="who-is-it">


                    <span class="header-question">Who is it for?</span>
                    <div class="horizontal-line">

                    </div> <br>
                    This Bootcamp is for anyone who wants to start a career in front-end development and build
                    responsive websites. Whether you have some prior experience or not, you’ll be given 46 weeks to
                    master all there is to know about front-end programming and create a job-ready portfolio.
                </div>
                <div class="what-you-need">

                    <span class="header-question"> What you need?</span>
                    <div class="horizontal-line">

                    </div> <br>
                    A burning desire to get started. A goal plan that you will want to achieve for yourself in the
                    following year, with a committed partner like us by your side.
                </div>
            </div>
        </div>

        <!-- <div class="up-work">
            <div class="upwork-text-holder">

                <span>
                    How many developers are <br> missing in the US?

                </span>

                <div class="radio-buttons">
                    <mat-radio-group>
                        <mat-radio-button value="300000" class="cabin"> 300,000 </mat-radio-button>

                        <mat-radio-button value="20000"> 20,000 </mat-radio-button>

                        <mat-radio-button value="1000000"> 1,000,000 </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="find-out-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span> Download the report</span>
                </div>
            </div>
        </div> -->
        <app-upwork-lead-front-end></app-upwork-lead-front-end>
        <!-- <div class="free-course">
            <div class="free-course-title">
                Start with a FREE Course, <br>
                then enroll in the Bootcamp
            </div>
            <div class="books-bg">

                <div class="career-holder">
                    <div class="text">


                        <div class="career-title cabin">
                            Start your career as a Front End developer
                        </div>
                        <div class="career-text cabin">
                            We understand that the Bootcamp is an investment of time and money, which is why we want you
                            to be 100% sure that this is the career you wish to pursue! We've put up a FREE introductory
                            course to assist you in making your decision. Meet the mentor, feel the program's intensity
                            and get a project assignment to code a simple web site.
                        </div>
                        <div class="lear-more-btn cabin">
                            Learn more
                        </div>
                    </div>
                    <div class="kick-off-wrapper">
                        <div class="kick-off">
                            <div class="next-kickoffs">
                                <img src="../../../assets/front-end/calendar.svg">
                                <span class="cabin">Next kickoffs</span>
                            </div>
                            <div class="kickoff-date cabin">
                                5<span class="cabin">th</span>March, 2022
                            </div>
                            <div class="apply-now-btn cabin" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                Apply now
                            </div>
                            <div class="limited-capacity cabin">
                                Limited capacity
                            </div>
                        </div>
                    </div>
                </div>
                <app-free-coruse-front-end></app-free-coruse-front-end>
            </div>
            <div class="free-course-info d-none d-lg-flex">
                <div class="two-weeks item">
                    <img src="../../../assets/front-end/TimeCircle.svg" width="32px" height="32px">
                    <span>2 weeks</span>
                </div>
                <div class="ten-hours item">
                    <img src="../../../assets/front-end/Play.svg" width="32px" height="32px">
                    <span>10 hours</span>
                </div>

                <div class="online item">
                    <img src="../../../assets/front-end/Video.svg" width="32px" height="32px">
                    <span>Online</span>

                </div>


                <div class="homework item">
                    <img src="../../../assets/front-end/TickSquare.svg" width="32px" height="32px">
                    <span>10 hours</span>

                </div>

                <div class="certificate item">
                    <img src="../../../assets/front-end/Wallet.svg" width="32px" height="32px">
                    <span>*Get a certificate upon completion</span>
                </div>
            </div>
        </div> -->
        <app-free-course-front-end></app-free-course-front-end>

        <div class="meet-your-instructor d-none d-lg-block">
            <div class="instructor-main-text d-block d-lg-none">
                Meet your instructor
            </div>
            <div class="instructor-bg">
                <div class="holder">
                    <div class="instructor-text-holder">
                        <div class="instructor-main-text d-none d-lg-block">
                            Meet your instructor
                        </div>
                        <div class="instructor-description">
                            <div class="name">
                                Sasho
                            </div>
                            <div class="adobe">
                                Front end specialist
                            </div>
                            <div class="desc">
                                Founder & CTO of Coding Factory,
                                5+ years of work with Front-End technologies.
                                4 years experience as a lecturer.
                            </div>
                        </div>
                    </div>
                    <div class="instructor-img d-none d-lg-block">
                        <img  [lazyLoad]="image4" class="responsive"
                            alt="Creative Hub instructor">
                    </div>
                    <!-- <div class="instructor-img d-block d-lg-none">
                        <img src="../../../assets/front-end/instructor-mobile.png">
                    </div> -->
                </div>
            </div>
            <div class="instructor-box-shadow"></div>
        </div>

        <div class="front-end-career">
            <div class="front-end-career-title">
                Why choose a career in front-end?
            </div>
            <div class="front-end-conditions-holder">
                <div class="text-in-borders">
                    Flexible working hours
                </div>

                <div class="text-in-borders">
                    Work from anywhere
                </div>


                <div class="text-in-borders">
                    High in demand
                </div>
            </div>

            <div class="advantages">
                <div class="boxes">
                    <div class="boxes-title-icon">
                        <div class="boxes-title">
                            Services
                        </div>
                        <div class="boxes-icon">
                            <img src="../../../assets/front-end/Setting-white.svg">
                        </div>
                    </div>
                    <img class="procent-img mobile-hide" src="../../../assets/front-end/circle-procent.svg">
                    <div class="mobile-show holder">

                        <img class="procent-img mobile-show" src="../../../assets/front-end/procent1-mobile.svg">
                    </div>

                </div>

                <div class="advantages-desc-mobile mobile-show">
                    62% of services provided are custom development / oursourcing connected with front-end
                </div>
                <div class="boxes">
                    <div class="boxes-title-icon">
                        <div class="boxes-title">
                            Working conditions
                        </div>
                        <div class="boxes-icon">
                            <img src="../../../assets/front-end/Work-white.svg">
                        </div>
                    </div>
                    <div class="mobile-show holder">

                        <img class="procent-img mobile-show" src="../../../assets/front-end/procent2-mobile.svg">
                    </div>

                    <img class="procent-img mobile-hide" src="../../../assets/front-end/circle-procent2.svg">

                </div>
                <div class="advantages-desc-mobile mobile-show">
                    74% of IT companies have benefitial working conditions
                </div>
                <div class="boxes last">
                    <div class="boxes-title-icon">
                        <div class="boxes-title">
                            Annual salary
                        </div>
                        <div class="boxes-icon">
                            <img src="../../../assets/front-end/Wallet-white.svg">
                        </div>
                    </div>
                    <div class="salary-price">
                        $85k
                    </div>
                </div>
                <div class="advantages-desc-mobile mobile-show">
                    $85,300 average base salary in the US according to Indeed. 
                </div>
            </div>

            <div class="advantages-desc mobile-hide">
                <div class="a-desc">
                    <strong>62%</strong> of services provided are custom development / oursourcing connected with
                    front-end
                </div>

                <div class="a-desc">
                    <strong>74%</strong> of IT companies have benefitial working conditions
                </div>


                <div class="a-desc last">
                    $85,300 average base salary in the US according to Indeed. 
                </div>

            </div>

        </div>


        <div class="best-paid-skills">
            <div class="best-paid-skills-tittle">
                Best-paid skills and qualifications for Front End Developers
            </div>

            <div class="redux">
                <div class="redux-holder">
                    <div class="strong-redux-title">
                        Wokring with Redux
                    </div>
                    <img src="../../../assets/front-end/arrow.svg" style="margin:0 18px;">

                    <div class="redux-procent">
                        +14.61%
                    </div>
                </div>
                <div class="redux-desc">
                    Front-end developers with this skill earn 14,61% more than the average base salary.
                </div>
            </div>


            <div class="react">
                <div class="react-holder">
                    <div class="strong-react-title">
                        Wokring with React
                    </div>
                    <img src="../../../assets/front-end/arrow.svg" style="margin:0 18px;">

                    <div class="react-procent">
                        +16.02%
                    </div>
                </div>
                <div class="react-desc">
                    Front-end developers with this skill earn 16,02 % more than the average base salary.

                </div>

                <div class="according mobile-hide">
                    According to Indeed.com
                </div>
            </div>
        </div>

        <div class="salaries w-100">
            <div class="levels me-3">
                <h4 class="salaries-title">Level</h4>
                <p>Web Developer</p>
                <p>Full Stack Developer</p>
                <p>Developer</p>
                <p>Application Developer</p>
                <p>Front End Developer</p>
            </div>
            <div class="salaries-range">
                <h4 class="salaries-title">Salary range per year (USD)</h4>
                <p>$67,084</p>
                <p>$103,865</p>
                <p>$85,647</p>
                <p>$80,337</p>
                <p>$100,986</p>
            </div>
        </div>


        <div class="creative-hub-js w-100">
            <img  [lazyLoad]="image1" class="w-100 d-none d-lg-block" alt="Code editor">
            <img  [lazyLoad]="image2" class="w-100 d-block d-lg-none" alt="Code editor">
        </div>

        <div class="program-curiculum">
            <div class="program-curiculum-title">
                PrOGRAM CURRICULUM
            </div>
            <div class="program-holder">

                <div class="program-card-wrapper html-bg">
                    <div class="program-card right">
                        <img src="../../../assets/front-end/html-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                HTML5
                            </div>
                            <div class="program-card-secondary">
                                In the initial part of the<br class="mobile-show"> Front-End Academy you will learn the
                                basics of programming - HTML. You will start with the basics, you will continue towards
                                advanced learning of this language. You will complete this segment with a task and a
                                project.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="program-card-wrapper css-bg">
                    <div class="program-card left">
                        <img src="../../../assets/front-end/css-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                CSS3
                            </div>
                            <div class="program-card-secondary">
                                The next step is to learn <br class="mobile-show"> Front-End programming is CSS, the
                                language used to explain documents written in HTML. Through several different exercises,
                                theoretical part and practical exercises, you’ll learn how to implement these two
                                languages into a simple functional website.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="program-card-wrapper js-bg">
                    <div class="program-card  right">
                        <img src="../../../assets/front-end/js-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                JavaScript
                            </div>
                            <div class="program-card-secondary">
                                The third pillar of technology on the World Wide Web is JavaScript, a highly functional,
                                dynamic, and event-driven programming language. These features are just a few of the
                                reasons why there is a great demand for developers with JavaScript skills.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="program-card-wrapper react-bg">
                    <div class="program-card left">
                        <img src="../../../assets/front-end/react-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                React
                            </div>
                            <div class="program-card-secondary">
                                The next module is the basic and advanced study of the React, open-source JavaScript
                                library, designed to build a user interface. One of the reasons why there is a need for
                                this library is the fact that through React you create web pages and mobile
                                applications.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="program-card-wrapper redux-bg">
                    <div class="program-card  right">
                        <img src="../../../assets/front-end/redux-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                React+Redux
                            </div>
                            <div class="program-card-secondary">
                                Key part of completing <br class="mobile-show"> Front-End Academy is the Redux - an
                                open-source JavaScript library, designed to manage application status. Upon completion
                                of this module, you’ll be able to create web page in a form of a blog,
                            </div>
                        </div>
                    </div>
                </div>

                <div class="program-card-wrapper   final-project-bg">
                    <div class="program-card  left">
                        <img src="../../../assets/front-end/ch-icon.svg">
                        <div class="program-card-desc">
                            <div class="program-card-title">
                                Final Project
                            </div>
                            <div class="program-card-secondary">
                                The last module of the Front-End Academy will be focused on the final project - creating
                                a React application.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="instructors w-100">
            <div class="instructors-title text-center">
                <span>Meet the mentors</span>
            </div>

            <div class="instructor-1">
                <div class="d-block d-lg-flex justify-content-center">
                    <img src="../../../assets/front-end/fitim.png" class="fitim" alt="Creative Hub Lecturer">
                    <div class="instructor-1-right">
                        <p class="d-flex align-items-center justify-content-end"> <b class="cabin">Fitim Krasniqi</b>
                            <span style="color:#C687E3; padding-left: 2%;"> {{lecturerName}}</span>
                        </p>
                        <span style="color: #71C4FF;">{{break}}</span> <br>
                        <div class="d-flex  justify-content-end">
                            <p class="m-0">Senior Front-end developer at Prime.Experienced Web Developer with a
                                demonstrated
                                history of working in the computer software industry. Skilled in JavaScript, jQuery &
                                Mobile Applications.</p>
                            <span style="color: #00FFE0; padding-left: 2%;">{{shortBio}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="instructor-2">
                <div class="instcutor-2-mobile d-flex justify-content-center">
                    <div class="instructor-1-left">
                        <p class="d-flex align-items-center justify-content-start"> <span
                                style="color:#C687E3; padding-right: 2%;"> {{lecturerName}}</span> <b
                                class="cabin">Gentrit Duraku</b>
                        </p>
                        <span style="color: #71C4FF;">{{break}}</span> <br>
                        <div class="d-flex  justify-content-end">
                            <span style="color: #00FFE0; padding-right: 2%;">{{shortBio}}</span>
                            <p class="m-0">Head of Web department in Frakton.
                                7+ years of experience in Software development, in particular Web development
                                technologies, constantly following the latest stack like React, Angular, Vue, Three,
                                etc.</p>

                        </div>
                    </div>
                    <img src="../../../assets/front-end/gentrit.png" class="gentrit" alt="Creative Hub Lecturer">
                </div>
            </div>
        </div> -->


        <div class="pick-your-next-cohort">
            <div class="pick-your-next-cohort-title">
                SELECT YOUR BOOTCAMP
            </div>

            <div class="cohort-holder-bg">
                <div class="cohort-wrapper">
                    <div class="cohort">
                        <div class="left ">
                            <img src="../../../assets/front-end/Video-gradient-icon.svg" class="video-icon"> <span
                                class="online-text"> Online </span>
                            <img src="../../../assets/front-end/Play-gradient-icon.svg" class="play-icon"> <span
                                class="lessons-text"> 20hrs a month </span>

                            <div class="bottom">
                                <img src="../../../assets/front-end/Calendar-gradient-icon.svg" class="date-icon">
                                <div class="next-cohort">
                                    <span class="date">
                                        April, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="right-holder">
                                <img src="../../../assets/front-end/Wallet-gardient-icon.svg" class="video-icon">
                                <div class="right-price">
                                     $ 416  <br>
                                    <span class="per-month">
                                        per month
                                    </span>
                                </div>
                            </div>

                            <div class="bottom-right mobile-hide" (click)="goDown1()">
                                <span>
                                    Enroll now!
                                </span>
                            </div>
                        </div>

                        <div class="bottom-right mobile-show" (click)="goDown1()">
                            <span>
                                Enroll now!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="cohort-wrapper">
                    <div class="cohort">
                        <div class="left">
                            <img src="../../../assets/front-end/Video-gradient-icon.svg" class="video-icon"> <span
                                class="online-text"> Online </span>
                            <img src="../../../assets/front-end/Play-gradient-icon.svg" class="play-icon"> <span
                                class="lessons-text"> 20hrs a month</span>

                            <div class="bottom">
                                <img src="../../../assets/front-end/Calendar-gradient-icon.svg" class="date-icon">
                                <div class="next-cohort">
                                    <span class="date">
                                        May, 2022
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="right-holder">
                                <img src="../../../assets/front-end/Wallet-gardient-icon.svg" class="video-icon">
                                <div class="right-price">
                                    $ 416 <br>
                                    <span class="per-month">
                                        per month
                                    </span>
                                </div>
                            </div>

                            <div class="bottom-right mobile-hide" (click)="goDown1()">
                                <span>
                                    Enroll now!
                                </span>
                            </div>
                        </div>
                        <div class="bottom-right mobile-show" (click)="goDown1()">
                            <span>
                                Enroll now!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="recognized-certificate-wrapper">
            <div class="recognized-certificate">
                <div class="padding">
                    <div class="title">

                        Gain an Industry-Recognized Certificates

                    </div>

                    <div class="secondary-text-certificate">

                        <div> CPD is internationally recognized diploma that you can display on your LinkedIn profile.
                        </div>
                        <div>In Creative Hub’s Graphic Design Academy you can apply for CPD Certification and EU
                            Certificate with ECTS credits.</div>

                        <div>Either one will add value to your portfolio on the global market. </div>
                    </div>
                </div>
            </div>

        </div> -->
        <app-porto-montenegro></app-porto-montenegro>
        <!-- <div class="learning-week-title d-none d-lg-block">
            <h1 class="m-0">Your typical learning week</h1>
        </div>
        <div class="week-img d-none d-lg-block"><img [lazyLoad]="image3" class="w-100 responsive"
                alt="Learing Week"></div> -->
        <div class="pricing-holder">
            <div class="pricing-title">
                <div class="top-horizontal-gardient-line">

                </div>
                <div class="title">
                    Choose the track that fits your needs the best
                </div>
                <div class="top-horizontal-gardient-line">

                </div>
            </div>
            <div class="mt-10">
                <app-pricing [array_of_pricing_header]="array_of_pricing_header" [array_of_pricing]="array_of_pricing"
                [array_of_bootcamp]="array_of_bootcamp" [pricingTextBg]="pricingTextBg" [array_of_cpd]="array_of_cpd"
                [array_of_transformation]="array_of_transformation" [from_where]="from_where"
                [workoutSessionColor]="workoutSessionColor" [annualPricingBg]="annualPricingBg" [from_where]="from_where" [payJustAcademy]="payJustAcademy" [payTravelAcademy]="payTravelAcademy" [payTotalAcademy]="payTotalAcademy"></app-pricing>
            </div>
        </div>



        <div class="alumni">
            <app-alumni [companiesBg]="companiesBg"></app-alumni>
        </div>
        <div class="get-hired" style="width: 100%;">
            <div class="get-hired-text">
                <img src="../../../assets/graphic-design/get-hired-text.png">

                <div class="get-hired-secondary-text">
                    After the graduation join our <strong>HIRING PLATFORM!</strong><br>
                    <div class="second">
                        And connect with <strong>100+</strong> hiring companies
                    </div>
                </div>


                <div class="register mobile-hide" data-bs-toggle="modal" data-bs-target="#exampleModal12">
                    Register your company
                </div>
            </div>
            <div class="get-hired-img">
            </div>
            <div class="register mobile-show" data-bs-toggle="modal" data-bs-target="#exampleModal12">
                Register your company
            </div>
        </div>
        <app-register-company></app-register-company>
        <div class="speed-networking" style="width: 100%;">
            <div class="speed-networking-title">
                Speed networking with our students
            </div>
            <div class="secondary-text">
                We will help you to build a well-connected professional network!
                Upon registering, you will be invited to a "Meet and Greet" session where you will be
                introduced to the community.<br><br><br>

                Your Bootcamp Calendar includes Speed Networking sessions, seminars, sports events, and beach trips
                where you will build your network and practice your professional pitch.

            </div>
        </div>

        <div class="check-out-drinks">
            <div class="check-out-text">
                <div class="check-out-title">
                    Check out
                </div>
                <div class="drink-text">
                    Drinks
                </div>
                <div class="secondary-text">
                    Join us for monthly meetups featuring talks on art & design, entrepreneurship and more.
                </div>


            </div>

            <div class="drinks-img mobile-hide">
                <div style="position: absolute; left: 0; margin-top: 50px;">
                    <img src="../../../assets/graphic-design/dotted-line-top.svg">
                </div>
                <div style="position: absolute; left: 0; margin-top: 350px; ">
                    <img src="../../../assets/graphic-design/dotted-line.svg">
                </div>
                <div class="yellow-bg">

                </div>
                <img src="../../../assets/graphic-design/drinks-img.png">


            </div>
            <div class="drinks-img-mobile mobile-show">
                <img src="../../../assets/graphic-design/drinks-bg-mobile.png">
            </div>
        </div>

        <app-community style="width: 100%;"></app-community>
        <div style="width: 99.4%;" id="thisForm">
            <!-- FORM -->
            <app-sign-up-front></app-sign-up-front>
        </div>
        <app-questions-and-answers [questions]="questions" [titleColor]="titleColor" [questionColor]="questionColor"
            [mainBackground]=" mainBackground" [accordionBg]="accordionBg">
        </app-questions-and-answers>

    </div>
    <app-footer [subscribeBorder]="subscribeBorder" [arrowBg]="arrowBg"></app-footer>
</div>
