
.webinar-container {
    background: url("../../../assets/graphic-design/Bg-crticki.svg"), #f4f3ec;
    background-size: 100%;
    background-position: center;
    padding-top: 3%;
}

h2 {
    padding: 3% 0% 3% 5%;
    margin: 0;
}
.did-you-know {
    background: #ffbd11;
    border-radius: 0px 12px 12px 0px;
    width: 45%;
    padding: 2% 0% 2% 5%;
    color: #555555;
}
.lecturer-card {
    box-shadow: 6px 7px 23px rgba(153, 153, 153, 0.42);
    border-radius: 0px 12px 12px 0px;
    padding: 2% 0% 2% 5%;
    width: 45%;
    display: flex;
    align-items: center;
    .lecturer-info {
        padding-left: 5%;
        .lecturer-1 {
            background: linear-gradient(104.92deg, #22304c -0.47%, #410291 97.23%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            font-family: Cabin;
            span {
                color: #2b2b2b;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                font-family: Cabin;
            }
        }
        ul li p {
            margin: 1%;
        }
    }
}
.testemonial-cards {
    width: 40%;
    margin-left: 5%;
    .testemonial-card {
        display: flex;
        align-items: center;
        margin: 3% 0%;
        p {
            font-size: 18px;
            line-height: 17px;
            background: #ffffff;
            box-shadow: 6px 7px 23px rgba(153, 153, 153, 0.42);
            border-radius: 12px;
            padding: 2% 2% 2% 13%;
            color: #555555;
            position: relative;
            z-index: 1;
            margin-left: -8%;
            flex:1;
        }
        img {
            position: relative;
            z-index: 2;
        }
    }
}

.register-benefits {
    width: 40%;
    padding-left: 5%;
    margin-top: -3%;
    ul {
        margin: 0;
    }
}
.bottom {
    padding-left: 5%;
    padding-top: 5%;
}
@media only screen and (max-width: 992px) {
    .webinar-container
    {
        padding-top: 10%;
    }
    .did-you-know {
        width: 85%;
    }
    .register-benefits {
        width: 90%;
        padding-left: 5%;
        margin-top: -3%;
    }

    .lecturer-card {
        width: 85%;
        align-items: flex-start;
        .lecturer-img {
            width: 30%;
        }
        .lecturer-info {
            padding-left: 5%;
            .lecturer-1 {
                font-size: 18px;
                line-height: 22px;
                font-family: Cabin;
                span {
                    color: #2b2b2b;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            ul li p {
                margin: 1%;
                font-size: 16px;
            }
        }
    }

    .testemonial-cards {
        width: 90%;
        margin-left: 5%;
        .testemonial-card {
            display: flex;
            align-items: center;
            margin: 5% 0%;
            position: relative;
            p {
                font-size: 14px;
                line-height: 17px;
                background: #ffffff;
                box-shadow: 6px 7px 23px rgba(153, 153, 153, 0.42);
                border-radius: 12px;
                padding: 25% 2% 5% 2%;
                color: #555555;
                margin-left: 0%;
            }
            img {
                position: absolute;
                top: -20px;
                width: 30%;
            }
        }
    }
    .bottom
    {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        padding: 5% 0%;
    }
}
