<div class="whole-bg">
  <div class="header">
    <div class="header-top">
      <img src="assets/ch-logo.svg" alt="Creative Hub Logo">
      <p>| Successful career <b>made possible.</b></p>
    </div>
    <div class="section-container">
      <div class="row w-100">
        <div class="col-md-6">
          <h3>Целосно практична</h3>
          <h1>
            <img src="assets/mini-academies/mini.svg" alt="Mini">
            <br class="d-block d-lg-none"> Дигитален маркетинг Академија
          </h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="form-wrapper">
            <div class="form-top">
              <div class="d-flex me-5"> <img
                  src="assets/mini-academies/video.svg"
                  alt="Video">
                <p>Online</p></div>
              <div class="d-flex">
                <img src="assets/mini-academies/calendar.svg"
                  alt="Calendar">
                <p>13.06.2022</p>
              </div>

            </div>
            <form method="POST"
              action="https://akoskarova.activehosted.com/proc.php"
              id="_form_105_" class="_form _form_105 _inline-form _dark"
              novalidate>
              <input type="hidden" name="u" value="105" />
              <input type="hidden" name="f" value="105" />
              <input type="hidden" name="s" />
              <input type="hidden" name="c" value="0" />
              <input type="hidden" name="m" value="0" />
              <input type="hidden" name="act" value="sub" />
              <input type="hidden" name="v" value="2" />
              <input type="hidden" name="or"
                value="e92733f68d5ac5c89c7206f626bf30cd" />
              <div class="_form-content">
                <div class="_form_element _x45990800 _full_width">
                  <label for="fullname" class="_form-label">
                    Име и презиме
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="fullname" name="fullname"
                      placeholder="Type your name" required/>
                  </div>
                  <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _x43881118 _full_width">
                  <label for="email" class="_form-label">
                    Email
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="email" name="email" placeholder="Type your email" required/>
                  </div>
                  <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _field9 _full_width">
                  <label for="field[9]" class="_form-label">
                    Телефонски Број
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="field[9]" name="field[9]" value=""
                      placeholder="" required/>
                  </div>
                </div>
                <div class="_form_element _field11 _full_width">
                  <label for="field[11]" class="_form-label">
                    Сертификат
                  </label>
                  <div class="_field-wrapper">
                    <select name="field[11]" id="field[11]" required>
                      <option selected>
                      </option>
                      <option value="без ЕУ Сертификат">
                        без ЕУ Сертификат
                      </option>
                      <option value="со ЕУ Сертификат">
                        со ЕУ Сертификат
                      </option>
                    </select>
                  </div>
                </div>
                <div class="_button-wrapper _full_width">
                  <button id="_form_105_submit" class="_submit" type="submit">
                    Добиј подетални информации
                  </button>
                </div>
                <div class="_clear-element">
                </div>
              </div>
              <div class="_form-thank-you" style="display:none;">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="scroll-down">
        <h6>Скролни за повеќе информации</h6>
        <img src="assets/mini-academies/scroll-down.svg" alt="Scroll
          down">
      </div>
    </div>
  </div>
  <!-- Trigger -->
<button data-bs-toggle="modal"  data-bs-target="#videoModal">Video</button>

<!-- Modal -->
<div class="modal fade" id="videoModal" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rTXpurNBDWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  <app-mini-academy-info [array_of_blue_list]="array_of_blue_list"
    [blueListInfo]="blueListInfo" [array_of_time]="array_of_time"></app-mini-academy-info>
  <div class="topics">
    <h3>Теми:</h3>
    <ul>
      <li>Buyer Persona</li>
      <li>Market Research & use of Data for #DigitalMarketers</li>
      <li>Facebook Ads ( Deep-Dive) </li>
      <li>Ads content strategy</li>
      <li>Warm & Cold Audiences</li>
      <li>Targeting & Retargeting стратегија</li>
      <li>Pixel </li>
      <li>Conversion events & how to track them</li>
      <li>Set up your KPI’s </li>
      <li>How to measure your ads and your quality as digital marketer</li>
    </ul>
  </div>
  <app-mini-academy-program-and-price [array_of_program]="array_of_program"
    [programParagraph]="programParagraph"
    [array_of_price_includes]="array_of_price_includes"
    [certificateText]="certificateText"
    [certificateImage]="certificateImage"
    [mentorName]="mentorName" [mentorImg]="mentorImg"
    [array_of_mentor_skills]="array_of_mentor_skills"
    [firstDate]="firstDate" [secondDate]="secondDate"
    [thirdDate]="thirdDate"></app-mini-academy-program-and-price>
  <div class="footer">
    <div class="section-container">
      <h3>Дополнително:</h3>
      <p> во јули ќе ја објавиме и втората мини Академија со целосно ориентирана
        на <b>Sales Funnel, Email Marketing & Landing Pages Strategy.</b> </p>
      <h4>Регистрирај се и добиј информација веднаш штом се објави!</h4>
      <form method="POST"
        action="https://akoskarova.activehosted.com/proc.php"
        id="_form_113_" class="_form _form_113 _inline-form _dark"
        novalidate>
        <input type="hidden" name="u" value="113" />
        <input type="hidden" name="f" value="113" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <input type="hidden" name="or"
          value="d01ff3db88960ca17ff90e4694d678cc" />
        <div class="_form-content">
          <div class="_form_element _x43881118 _full_width">
            <div class="_field-wrapper">
              <input type="text" id="email" name="email"
                placeholder="Type your email" required/>
              <button id="_form_113_submit" class="_submit"
                type="submit">
                <div class="d-flex align-items-center"> <img
                    src="assets/mini-academies/message.svg"
                    alt="Message"> Регистрација</div>
              </button>
            </div>
            <!--  This STARTS the Custom Objects section  -->
          </div>
          <div class="_clear-element">
          </div>
        </div>
        <div class="_form-thank-you" style="display:none;">
        </div>
      </form>

      <div class="media">
        <a href="https://www.facebook.com/creativehubmacedonia"><img
            src="../../../assets/webinars/fb-logo-white.svg"
            class="responsive" alt="Facebook logo"></a>
        <a
          href="https://www.linkedin.com/company/creativehubmacedonia/"><img
            src="../../../assets/webinars/linkedin-logo-white.svg"
            class="responsive" alt="Linkedin Logo"></a>
        <a href="https://www.instagram.com/creativehubmacedonia/?hl=en"><img
            src="../../../assets/webinars/insta-logo-white.svg"
            class="responsive" alt="Instagram Logo"></a>
      </div>
    </div>
  </div>
  <div class="copy">
    © Copyright 2022 Creative Hub
  </div>
</div>