<app-navbar></app-navbar>

<div class="container my-10">
    <h1>Program Requirements</h1>
    <h2>Admissions Requirements</h2>
    <p>Joining Creative Hub as a Bootcamp student requires you to meet the minimum requirements outlined below:
    </p>
    <ol>
        <li>Have a high school diploma or equivalent, or</li>
        <li>Be at least 18 years of age and pass the Wonderlic Basic Skills Test (Level 3) with minimum scores of 303
            for verbal and 294 for quantitative.</li>
        <p>In addition to:</p>
        <li>Satisfactory completion of a Personal Statement.</li>
        <li>Satisfactory completion of an Admissions Interview.</li>
        <li>Satisfactory completion of a Technical Challenge.</li>
        <li>
            If English is a second language, completion and submission of one of the following:
            <ol>
                <li>Minimum overall score of 90 on the TOEFL iBT tes</li>
                <li>Minimum overall score of 90 on the TOEFL iBT tes</li>
            </ol>
        </li>
        <p>Contact our Admissions Team if you have any questions about these requirements.
        </p>
    </ol>
    <h2>Technology Requirements</h2>
    <p>Required course materials and technological resources not provided by the institution:</p>
    <ul>
        <li>Students are required to bring their own laptop to the program (Mac or Windows, not Chromebook):
            <ul>
                <li>CPU: Intel i5 - i7 processor with at least 2.7 GHz or M1 processor</li>
                <li>Minimum 128 GB HDD/SSD (recommended 256GB)</li>
                <li>Minimum 8GB RAM (recommended 16GB)</li>
                <li>Mac 0S v10.13 High Sierra or Windows 10</li>
            </ul>
        </li>
        <li>Students also need a webcam and microphone.</li>
        <li>In addition to these requirements, students must ensure that their system meets the requirements of the
            videoconferencing tool, Zoom outlined <a
                href="https://support.zoom.us/hc/en-us/articles/201362023-System-Requirements-for-PC-Mac-and-Linux">here</a>
        </li>
        <li>It is preferred that students use the latest version of Chrome as their browser</li>
    </ul>
</div>

<app-footer></app-footer>