<div class="thank-you">
    <div class="logo d-flex align-items-center">
        <img src="assets/ch-logo.svg" alt="Creative Hub Logo">
        <span class="cabin">| Successful career <b class="cabin">made possible.</b></span>
    </div>
    <div class="info">
        <div class="text-center">
            <h1>Ти благодариме за регистрацијата!</h1>
            <h3>Проверете си го вашиот inbox за сите детали.</h3>
        </div>

        <a href="https://creativehub.mk/"> <button>До Академијата</button></a>
        <div class="footer">
            <div class="footer-media">
                <a href="https://www.facebook.com/creativehubmacedonia"><img
                        src="../../../assets/webinars/fb-logo-white.svg"
                        class="responsive" alt="Facebook logo"></a>
                <a
                    href="https://www.linkedin.com/company/creativehubmacedonia/"><img
                        src="../../../assets/webinars/linkedin-logo-white.svg"
                        class="responsive" alt="Linkedin Logo"></a>
                <a href="https://www.instagram.com/creativehubmacedonia/?hl=en"><img
                        src="../../../assets/webinars/insta-logo-white.svg"
                        class="responsive" alt="Instagram Logo"></a>
            </div>
            <div class="copyright">© Copyright 2022 Creative Hub</div>
        </div>
    </div>
</div>