<!-- Modal -->
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content register">
      <div class="container main-wrapper" id="form">
        <div class="holder">

          <div class="form-card">

            <div class="form-element">

            </div>
            <div class="second-form-element1">

            </div>

            <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
            <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_67_" class="_form _form_67 _inline-form  _dark" novalidate>
              <input type="hidden" name="u" value="67" />
              <input type="hidden" name="f" value="67" />
              <input type="hidden" name="s" />
              <input type="hidden" name="c" value="0" />
              <input type="hidden" name="m" value="0" />
              <input type="hidden" name="act" value="sub" />
              <input type="hidden" name="v" value="2" />
              <input type="hidden" name="or" value="4b8ad1b50b3f5b999338731571d20429" />
              <div class="_form-content">
                <div class="_form_element _x00493776 _full_width _clear" >
                  <div class="_form-title">
                    REGISTER YOUR COMPANY
                  </div>
                </div>
                <div class="_form_element _x42353400 _full_width _clear" >
                  <div class="_html-code">
                    <p>
                      Enter your email and message below and we’ll contact your shortly!
                    </p>
                  </div>
                </div>
                <div class="_form_element _x97312969 _full_width " >
                  <label for="fullname" class="_form-label">
                    Full Name
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="fullname" name="fullname" placeholder="Type your name" />
                  </div>
                </div>
                <div class="_form_element _x42790686 _full_width " >
                  <label for="email" class="_form-label">
                    Email*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="email" name="email" placeholder="Type your email" required/>
                  </div>
                </div>
                <div class="_form_element _field7 _full_width " >
                  <label for="field[7]" class="_form-label">
                    Company Name*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="field[7]" name="field[7]" value="" placeholder="Type your Company name" required/>
                  </div>
                </div>
                <div class="_form_element _field8 _full_width " >
                  <label for="field[8]" class="_form-label">
                    Your message
                  </label>
                  <div class="_field-wrapper">
                    <textarea id="field[8]" name="field[8]" placeholder=""  ></textarea>
                  </div>
                </div>
                <div class="_button-wrapper _full_width">
                  <button id="_form_67_submit" class="_submit" type="submit">
                    Write to us
                  </button>
                </div>
                <div class="_clear-element">
                </div>
              </div>
              <div class="_form-thank-you" style="display:none;">
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>