
<!-- The Modal -->
<div id="myModal" class="hide">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-content-inner">
            <h4 id="category" class="cabin"></h4>
            <br>
            <h5 class="cabin">Пријава за IT meetup</h5>
            <!-- <h5 class="cabin">Meet the Lecturers & the Program </h5> -->
            <!-- <div class="date">
                <div class="d-flex me-3">
                    <img src="assets/mini-academies/pop-up-form/video.svg" alt="Video">
                    <p>Во живо</p></div>
                <div class="d-flex me-3">
                    <img src="assets/mini-academies/pop-up-form/time.svg" alt="Video">
                    <p>11:00</p>
                </div>
            </div> -->
            <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_132_" class="_form _form_132 _inline-form  _dark" novalidate>
                <input type="hidden" name="u" value="132" />
                <input type="hidden" name="f" value="132" />
                <input type="hidden" name="s" />
                <input type="hidden" name="c" value="0" />
                <input type="hidden" name="m" value="0" />
                <input type="hidden" name="act" value="sub" />
                <input type="hidden" name="v" value="2" />
                <input type="hidden" name="or" value="0b2dfe581d1347aab82564a1d1989a9e" />
                <div class="_form-content">
                  <div class="_form_element _x59122148 _full_width " >
                    <label for="firstname" class="_form-label">
                      Име
                    </label>
                    <div class="_field-wrapper">
                      <input type="text" id="firstname" name="firstname" placeholder="Type your first name" required/>
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                    </div>
                    <div class="_form_element _x10128150 _full_width " >
                      <label for="lastname" class="_form-label">
                        Презиме
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="lastname" name="lastname" placeholder="Type your last name" required/>
                      </div>
                      <!--  This STARTS the Custom Objects section  -->
                      </div>
                      <div class="_form_element _x88857985 _full_width " >
                        <label for="email" class="_form-label">
                          Email
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="email" name="email" placeholder="Type your email" required/>
                        </div>
                        <!--  This STARTS the Custom Objects section  -->
                        </div>
                        <div class="_form_element _field9 _full_width " >
                          <label for="field[9]" class="_form-label">
                            Телефон
                          </label>
                          <div class="_field-wrapper">
                            <input type="text" id="field[9]" name="field[9]" value="" placeholder="" required/>
                          </div>
                        </div>
                        <div class="_form_element _field12 _full_width " >
                          <label for="field[12]" class="_form-label">
                            Избери термин
                          </label>
                          <div class="_field-wrapper">
                            <select name="field[12]" id="field[12]" >
                              <option selected>
                              </option>
                              <option value="4 јуни 2022" >
                                4 јуни 2022 19:00h
                              </option>
                              <option value="8 јуни 2022" >
                                8 јуни 2022 12:00h
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="_button-wrapper _full_width">
                          <button id="_form_132_submit" class="_submit" type="submit">
                            Submit
                          </button>
                        </div>
                        <div class="_clear-element">
                        </div>
                      </div>
                      <div class="_form-thank-you" style="display:none;">
                      </div>
                    </form>
            <img src="assets/mini-academies/pop-up-form/x.svg" id="closeBtn" alt="">
        </div>
    </div>
</div>

<div class="whole-bg">
    <div class="header">
        <div class="header-top">
            <img src="assets/ch-logo.svg" alt="Creative Hub Logo">
            <p>| Successful career <b>made possible.</b></p>
        </div>
        <div class="section-container">
            <div class="row w-100">
                <div class="col-md-6">
                    <h3>Целосно практична</h3>
                    <h1>
                        <img src="assets/mini-academies/mini.svg" alt="Mini">
                        <br class="d-block d-lg-none">
                        CODE <br class="d-none d-lg-block"> Академија
                    </h1>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="form-wrapper">
                        <div class="form-top">
                            <div class="d-flex me-5"> <img
                                    src="assets/mini-academies/video.svg"
                                    alt="Video">
                                <p>Online</p></div>
                            <div class="d-flex">
                                <img src="assets/mini-academies/calendar.svg"
                                    alt="Calendar">
                                <p>18.06.2022</p>
                            </div>

                        </div>
                        <form method="POST"
                            action="https://akoskarova.activehosted.com/proc.php"
                            id="_form_109_" class="_form _form_109 _inline-form
                            _dark"
                            novalidate>
                            <input type="hidden" name="u" value="109" />
                            <input type="hidden" name="f" value="109" />
                            <input type="hidden" name="s" />
                            <input type="hidden" name="c" value="0" />
                            <input type="hidden" name="m" value="0" />
                            <input type="hidden" name="act" value="sub" />
                            <input type="hidden" name="v" value="2" />
                            <input type="hidden" name="or"
                                value="ba0870eb20a509f54731d61b91e71784" />
                            <div class="_form-content">
                                <div class="_form_element _x45990800
                                    _full_width">
                                    <label for="fullname" class="_form-label">
                                        Име и презиме
                                    </label>
                                    <div class="_field-wrapper">
                                        <input type="text" id="fullname"
                                            name="fullname"
                                            placeholder="Type your name"
                                            required/>
                                    </div>
                                    <!--  This STARTS the Custom Objects section  -->
                                </div>
                                <div class="_form_element _x43881118
                                    _full_width">
                                    <label for="email" class="_form-label">
                                        Email
                                    </label>
                                    <div class="_field-wrapper">
                                        <input type="text" id="email"
                                            name="email"
                                            placeholder="Type your email"
                                            required/>
                                    </div>
                                    <!--  This STARTS the Custom Objects section  -->
                                </div>
                                <div class="_form_element _field9 _full_width">
                                    <label for="field[9]" class="_form-label">
                                        Телефонски Број
                                    </label>
                                    <div class="_field-wrapper">
                                        <input type="text" id="field[9]"
                                            name="field[9]"
                                            value="" placeholder="" required/>
                                    </div>
                                </div>
                                <div class="_form_element _field11 _full_width">
                                    <label for="field[11]" class="_form-label">
                                        Сертификат
                                    </label>
                                    <div class="_field-wrapper">
                                        <select name="field[11]" id="field[11]"
                                            required>
                                            <option selected>
                                            </option>
                                            <option value="без ЕУ Сертификат">
                                                без ЕУ Сертификат
                                            </option>
                                            <option value="со ЕУ Сертификат">
                                                со ЕУ Сертификат
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="_button-wrapper _full_width">
                                    <button id="_form_109_submit"
                                        class="_submit"
                                        type="submit">
                                        Добиј подетални информации
                                    </button>
                                </div>
                                <div class="_clear-element">
                                </div>
                            </div>
                            <div class="_form-thank-you" style="display:none;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="scroll-down">
                <h6>Скролни за повеќе информации</h6>
                <img src="assets/mini-academies/scroll-down.svg" alt="Scroll
                    down">
            </div>
        </div>
    </div>
    <app-mini-academy-info [array_of_blue_list]="array_of_blue_list"
        [blueListInfo]="blueListInfo" [array_of_time]="array_of_time"></app-mini-academy-info>
    <div class="topics">
        <h3>Теми:</h3>
        <p>
            1.HTML
        </p>
        <ul>
            <li> How internet and code editors works</li>
            <li>HTML Structure</li>
            <li>HTML Elements and attributes </li>
        </ul>
        <p>
            2. CSS
        </p>
        <ul>
            <li> CSS Intro and Syntax</li>
            <li>CSS Selectors and Properties</li>
            <li>CSS Flexbox</li>
            <li>CSS Responsiveness</li>
        </ul>
    </div>
    <app-mini-academy-program-and-price [array_of_program]="array_of_program"
        [programParagraph]="programParagraph"
        [array_of_price_includes]="array_of_price_includes"
        [certificateText]="certificateText"
        [certificateImage]="certificateImage"
        [mentorName]="mentorName" [mentorImg]="mentorImg"
        [array_of_mentor_skills]="array_of_mentor_skills"
        [firstDate]="firstDate" [secondDate]="secondDate"
        [thirdDate]="thirdDate"></app-mini-academy-program-and-price>
    <div class="footer">
        <div class="section-container">
            <h3>Дополнително:</h3>
            <p> Дополнително во јуни започнуваат и уписите на Front-end
                Академијата, пријави се ако сакаш да ја искористиш оваа уплата и
                да го платиш само остатокот. </p>
            <h4>Регистрирај се и добиј информација веднаш штом се објави!</h4>
            <form method="POST"
                action="https://akoskarova.activehosted.com/proc.php"
                id="_form_111_" class="_form _form_111 _inline-form _dark"
                novalidate>
                <input type="hidden" name="u" value="111" />
                <input type="hidden" name="f" value="111" />
                <input type="hidden" name="s" />
                <input type="hidden" name="c" value="0" />
                <input type="hidden" name="m" value="0" />
                <input type="hidden" name="act" value="sub" />
                <input type="hidden" name="v" value="2" />
                <input type="hidden" name="or"
                    value="d01ff3db88960ca17ff90e4694d678cc" />
                <div class="_form-content">
                    <div class="_form_element _x43881118 _full_width">
                        <div class="_field-wrapper">
                            <input type="text" id="email" name="email"
                                placeholder="Type your email" required/>
                            <button id="_form_111_submit" class="_submit"
                                type="submit">
                                <div class="d-flex align-items-center"> <img
                                        src="assets/mini-academies/message.svg"
                                        alt="Message"> Регистрација</div> 
                            </button>
                        </div>
                        <!--  This STARTS the Custom Objects section  -->
                    </div>
                    <div class="_clear-element">
                    </div>
                </div>
                <div class="_form-thank-you" style="display:none;">
                </div>
            </form>

            <div class="media">
                <a href="https://www.facebook.com/creativehubmacedonia"><img
                        src="../../../assets/webinars/fb-logo-white.svg"
                        class="responsive" alt="Facebook logo"></a>
                <a
                    href="https://www.linkedin.com/company/creativehubmacedonia/"><img
                        src="../../../assets/webinars/linkedin-logo-white.svg"
                        class="responsive" alt="Linkedin Logo"></a>
                <a href="https://www.instagram.com/creativehubmacedonia/?hl=en"><img
                        src="../../../assets/webinars/insta-logo-white.svg"
                        class="responsive" alt="Instagram Logo"></a>
            </div>
        </div>
    </div>
    <div class="copy">
        © Copyright 2022 Creative Hub
    </div>

</div>