<div class="form-title"><span>READY TO ENROLL NOW?</span></div>
<div class="form-text">GRAPHIC DESIGN ACADEMY <br><span> Application form</span></div>
<div class="form-bg">
  <div class="container-fluid" style="padding-bottom: 5%; padding-left: 0; padding-right: 0;">
    <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_77_"
      class="_form _form_77 _inline-form  _dark" novalidate>
      <input type="hidden" name="u" value="77" />
      <input type="hidden" name="f" value="77" />
      <input type="hidden" name="s" />
      <input type="hidden" name="c" value="0" />
      <input type="hidden" name="m" value="0" />
      <input type="hidden" name="act" value="sub" />
      <input type="hidden" name="v" value="2" />
      <input type="hidden" name="or" value="1768d360eb9c605aba90dfafdb87ba03" />
      <div class="_form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="_form_element _x07356938 _full_width  form-left">
              <label for="firstname" class="_form-label">
                First Name
              </label>
              <div class="_field-wrapper">
                <input type="text" id="firstname" name="firstname" placeholder="ex. Jane" required />
              </div>
              <!--  This STARTS the Custom Objects section  -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="_form_element _x85207415 _full_width form-right">
              <label for="lastname" class="_form-label">
                Last Name
              </label>
              <div class="_field-wrapper">
                <input type="text" id="lastname" name="lastname" placeholder="ex. Doe" required />
              </div>
              <!--  This STARTS the Custom Objects section  -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="_form_element _x50688643 _full_width form-left">
              <label for="email" class="_form-label">
                Email
              </label>
              <div class="_field-wrapper">
                <input type="text" id="email" name="email" placeholder="myname@mail.com" required />
              </div>
              <!--  This STARTS the Custom Objects section  -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="_form_element _x18329354 _full_width form-right">
              <label for="phone" class="_form-label">
                Phone
              </label>
              <div class="_field-wrapper">
                <input type="text" id="phone" name="phone" placeholder="ex.  (555) 555-1234" required />
              </div>
              <!--  This STARTS the Custom Objects section  -->
            </div>
          </div>
        </div>
        <!-- <div class="_button-wrapper _full_width">
                    <button id="_form_77_submit" class="_submit" type="submit">
                      Submit
                    </button>
                  </div> -->
        <div class="_clear-element">
        </div>
      </div>
      <div class="_form-thank-you text-center" style="display:none;">
      </div>
      <div style="width: 100% ; position: relative;">

        <div class="line">

        </div>
        <div class="col-md-12 form-btns-desktop">
          <button id="_form_77_submit" class="_submit signup-btn cabin" type="submit">Enroll</button>
        </div>

        <div class="col-md-12 form-btns-mobile">
          <button id="_form_77_submit" class="_submit signup-btn cabin" type="submit">Enroll</button>
        </div>
      </div>
    </form>


  </div><!-- container-end -->
  <!-- </div> -->
  <div class="d-none d-lg-flex enroll-small">By clicking on “Submit” I agree and give approval to Kreative
    Hub LLC to use and process my personal data, later store it as long as necessary for the purpose for which the data
    was collected, after which they will be deleted in accordance with the Law on Personal Data Protection. I reserve
    the right at any time to withdraw my consent.</div>