//   form
label
{
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #606060;
}
input
{
    background: #FFFFFF;
    border: 1px solid #919191;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    margin: 2% 0%;
    padding: 3%;
    font-family: Cabin;
}
input:focus
{
    text-decoration: none !important;
}
.form-left
{
    width: 60%;
    margin-left: 35%;
}
.form-right
{
    width: 60%;
    margin-right: 35%;
}
.form-bg
{
    padding: 2% 0%;
    // background: #F8F8F8;
    overflow-x: hidden;
}
.form-title
{
    width: 100%;
    height: 30px;
    border-bottom: 4px solid rgb(146, 128, 224);
    text-align: center;
    margin-top: 5%;
}

.form-title span
{
     font-size: 43px;
     border: 4px solid rgb(146, 128, 224) ;
     background: white;
     border-radius: 10px;
     color: black;
     font-weight: 900;
     padding: 1%;

}

.form-text
{
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase;
    color: rgba(96, 96, 96, 1);
}

.form-text span
{
    font-size: 18px;
    font-weight: 400;
    font-family: Cabin;
}


.name
{
    font-size: 18px;
    font-weight: 700;
    color: #606060;
    padding-top: 3%;
}


.form-btns-desktop
{
    width: 100%;
     height: 30px;
       text-align: center;
       position: relative;
       border: 4px solid transparent;
       border-radius: 32px;
       background-clip: padding-box;
       margin-bottom: 15px;
}


  .form-btns-mobile
  {
      display: none;
  }


.signup-btn
{
    padding: 1% 10%;
    background-color: black;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1%;
}
.signup-btn:hover
{
    box-shadow: 2px -1px 20px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

  .submit-info
  {
    font-size: 12px;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .line {
    position: absolute;
    height: 4px;
    top: 43px;
    background: linear-gradient(231.38deg, #5DA0EF 34.17%, #44FF78 119.03%);
    content: '';
    border-radius: 32px;
    width: 100%;
  }
  .enroll-small
  {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #707070;
    width: 40%;
    margin-left: 30%;
    margin-top: -2%;
  }
  @media only screen and (max-width: 992px) {
    .bootcamp input{
        margin: auto;
    }
    .form-title
    {
        margin-top: 10%;
        margin-bottom: 5%;
        height: 18px;
    }

    .form-title span
    {
        font-size: 32px;
    }

    .form-text
    {
        display: grid;
    }

    .form-btns-desktop
    {
        display: none;
    }

    .form-btns-mobile
    {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 5%;
    position: relative;
    border: 4px solid transparent;
    border-radius: 32px;
    background-clip: padding-box;
    margin-bottom: 15px;
    display: block;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .line{
        top: 25px;
    }
    .radio
    {
        display: block;
    }
    .form-left, .form-right
    {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 0!important;
    }
    .signup-btn
    {
        font-size: 16px;
        padding: 2% 15%;
    }

  }
