<div class="thank-you">
    <div class="logo d-flex align-items-center">
        <img src="assets/ch-logo.svg" alt="Creative Hub Logo">
        <span class="cabin">| Successful career <b class="cabin">made possible.</b></span>
    </div>
    <div class="info">
        <div class="text-center">
            <h1>Thank you for your registration!</h1>
            <h2>Can’t wait to See you on the webinar.</h2>
        </div>
        <button routerLink="/graphic-design">Go to the Academy page</button>
        <div class="footer">
            <div class="footer-media">
                <a href="https://www.facebook.com/creativehubmiami/"><img
                        src="../../../assets/webinars/fb-logo-white.svg"
                        class="responsive" alt="Facebook logo"></a>
                <a
                    href="https://www.linkedin.com/company/creative-hub-academy/"><img
                        src="../../../assets/webinars/linkedin-logo-white.svg"
                        class="responsive" alt="Linkedin Logo"></a>
                <a href="https://www.instagram.com/creativehubmiami/"><img
                        src="../../../assets/webinars/insta-logo-white.svg"
                        class="responsive" alt="Instagram Logo"></a>
            </div>
            <div class="copyright">© Copyright 2022 Creative Hub</div>
        </div>
    </div>
</div>