@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
    font-family: "Manrope", sans-serif;
    font-style: normal;
}
.bg {
    background: #f4f3ec;
    padding-top: 6%;
}
.container-section {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.section-m {
    margin: 180px auto;
}
.cabin {
    font-family: "Cabin", sans-serif;
}
.header {
    background-image: url(../../../assets/enterprise/header-img.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;

    .header-left {
        width: 50%;
        padding-top: 5%;
        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 87px;
            margin-top: 0;
            span {
                background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        h3 {
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
        }
        button {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            border-radius: 12px;
            padding: 12px 56px;
            color: white;
            border: none;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            margin-top: 5%;
            transition: transform 0.3s;
        }
        button:hover {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            // box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.25);
            transform: scale(0.95);
            cursor: pointer;
        }
        button:active {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            // box-shadow: inset -10px -10px 16px rgba(255, 255, 255, 0.49), inset 10px 10px 16px rgba(0, 0, 0, 0.13);
            transform: scale(0.9);
        }
    }
    .percent {
        display: flex;
        background: linear-gradient(99.38deg, rgba(138, 9, 1, 0.44) 1.48%, rgba(80, 51, 255, 0.2816) 79.89%);
        border: 2px solid #d5d5d5;
        border-radius: 24px;
        margin-top: 15%;
        padding: 4% 10%;
        color: white;
        backdrop-filter: blur(15px);
        .percent-number {
            font-weight: 700;
            font-size: 120px;
            line-height: 146px;
            font-family: "Cabin", sans-serif;
        }
        h4 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            font-family: "Cabin", sans-serif;
        }
        h5 {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            font-family: "Cabin", sans-serif;
            text-align: right;
        }
    }
}

.cultivate {
    color: #2b2b2b;
    h3 {
        color: #2b2b2b;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
    }
    p {
        font-size: 24px;
        line-height: 33px;
    }
    .cultivate-card {
        background: #f8f8f8;
        box-shadow: 18px 18px 40px rgba(109, 109, 109, 0.16);
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        height: 210px;
        h4 {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            text-align: center;
        }
    }
}
.awareness {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        url(../../../assets/enterprise/awerness-bg.png);
    background-size: cover;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    h2 {
        font-weight: 800;
        font-size: 64px;
        line-height: 87px;
        background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 2%;
    }
    h4 {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        margin: 2%;
    }
}

.courses
{
    a{
        text-decoration: none;
    }
    .course-card {
        background: #f8f8f8;
        box-shadow: 0px 11px 20px rgba(107, 90, 0, 0.24);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px;
        margin: 8%;
        color: #0a0a0a;
        height: 470px;
        transition: transform .2s;
        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin: 2% 0%;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            font-family: "Cabin", sans-serif;
        }
        div {
            width: 100%;
            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #555555;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: end;
                img {
                    width: 12px;
                    height: 10px;
                }
            }
        }
    }
}
.course-card:hover 
{
    transform: scale(1.03);
    cursor: pointer;
}

.perfect-for-wrapper {
    background: #f4f4f2;
    padding: 1% 0%;
    h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 33px;
        color: #2b2b2b;
        margin: 0%;
    }
    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #555555;
    }
}
.monitor {
    display: flex;
    align-items: center;
    div {
        padding-right: 5%;
        h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            color: #2b2b2b;
        }
        p {
            font-size: 24px;
            line-height: 33px;
            color: #2b2b2b;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.solutions {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        url(../../../assets/enterprise/solutions.png);
    border-radius: 32px;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
        padding: 2% 5%;
        h2 {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 800;
            font-size: 64px;
            line-height: 87px;
            margin: 0%;
        }
        p {
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #2b2b2b;
        }
        button {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            border-radius: 12px;
            padding: 12px 56px;
            color: #ffffff;
            font-size: 24px;
            line-height: 29px;
            font-family: "Cabin", sans-serif;
            border: none;
            transition: transform 0.3s;
        }
        button:hover {
            transform: scale(0.95);
            cursor: pointer;
        }
        button:active {
            transform: scale(0.9);
        }
    }
}
.satisfied-clients {
    background: url(../../../assets/enterprise/testemonials-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    .clients-words {
        background: #ffffff;
        box-shadow: 27.6259px 27.6259px 46.0432px rgba(90, 0, 113, 0.16);
        border-radius: 32px;
        width: 80%;
        margin: 5% auto;
        p {
            padding: 60px 49px;
            font-family: "Cabin", sans-serif;
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            span {
                font-weight: 700;
            }
        }
    }
}
.arijana {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #555555;
    img {
        max-width: 100%;
        height: auto;
        padding-right: 20px;
    }
    p {
        font-size: 18px;
        line-height: 22px;
        font-family: "Cabin", sans-serif;
    }
}
.forbes {
    text-align: center;
    width: 75%;
    margin: auto;
    color: #555555;
    h4 {
        font-size: 20px;
        line-height: 24px;
        color: #2b2b2b;
        font-family: "Cabin", sans-serif;
    }
    a {
        text-decoration: none;
        transition: transform 0.3s;
    }
    a:hover 
    {
        transform: scale(0.97);
    }
    .forbes-card {
        background: #f8f8f8;
        box-shadow: 0px 39px 54px rgba(107, 90, 0, 0.24);
        border-radius: 32px;
        padding: 16px;
        margin: 16px;
        h4 {
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
        }
        p {
            font-family: "Cabin", sans-serif;
            color: #555555;
            font-size: 20px;
            line-height: 24px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
.contact-us {
    background: url(../../../assets/enterprise/contact-us-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-wrapper {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(4px);
        border-radius: 32px;
        padding: 32px;
        width: 45%;
        margin: auto;
        .contact-us-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            color: #2b2b2b;
        }
        .form-p {
            font-family: "Cabin", sans-serif;
            font-size: 20px;
            line-height: 24px;
        }
        .form-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px 32px;
            margin: 24px;
            background: #d5d5d5;
            border-radius: 24px;
            label {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #555555;
                font-family: "Cabin", sans-serif;
            }
            input {
                padding: 8px 8px 8px 16px;
                background: #ffffff;
                border-radius: 12px;
                width: 100%;
                border: none;
            }
            ._form_element {
                width: 90%;
                margin: 1% 0%;
            }
            textarea {
                width: 100%;
                padding: 8px 8px 8px 16px;
                background: #ffffff;
                border-radius: 12px;
                border: none;
            }
            ._button-wrapper {
                width: 94.5%;
            }
            button {
                padding: 8px 0px;
                background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
                border-radius: 12px;
                width: 100%;
                font-size: 24px;
                line-height: 29px;
                color: white;
                font-family: "Cabin", sans-serif;
                border: none;
                transition: transform 0.3s;
                margin-top: 1%;
            }
        }
        button:hover {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            // box-shadow: 0px 12px 42px rgba(0, 0, 0, 0.25);
            transform: scale(0.97);
            cursor: pointer;
        }
        button:active {
            background: linear-gradient(162.44deg, #5162ff 0%, #778dff 100%);
            // box-shadow: inset -10px -10px 16px rgba(255, 255, 255, 0.49), inset 10px 10px 16px rgba(0, 0, 0, 0.13);
            transform: scale(0.93);
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 120px;
    background: #ffffff;
    img {
        margin: 2%;
    }
    p {
        font-family: "Cabin", sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #808080;
    }
}
@media screen and (max-width: 992px) {
    .container-section {
        width: 90%;
    }
    .section-m {
        margin: 88px auto;
    }
    .header {
        background-image: none;
        position: relative;
        .header-left {
            width: 100%;
            padding-top: 10%;
            color: #2b2b2b;
            padding-bottom: 350px;
            h1 {
                font-size: 40px;
                line-height: 55px;
            }
            h3 {
                font-size: 32px;
                line-height: 44px;
            }
            button {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
            }
            img {
                position: absolute;
                right: 0;
                bottom: 200px;
            }
        }
        .percent {
            display: flex;
            flex-direction: column;
            margin-top: 15%;
            padding: 24px;
            backdrop-filter: none;
            position: relative;
            .percent-number {
                font-size: 64px;
                line-height: 78px;
            }
            h4 {
                font-size: 18px;
                line-height: 25px;
            }
            h5 {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    .cultivate {
        h3 {
            font-size: 32px;
            line-height: 44px;
        }
        p {
            font-size: 20px;
            line-height: 27px;
        }
        .cultivate-card {
            background: #f8f8f8;
            box-shadow: 18px 18px 40px rgba(109, 109, 109, 0.16);
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px;
            margin: 5% 0%;
            height: 165px;
            h4 {
                font-size: 32px;
                line-height: 44px;
            }
            img {
                margin-right: 15px;
            }
        }
    }
    .awareness {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
            url(../../../assets/enterprise/awerness-bg.png);
        background-size: cover;
        border-radius: 32px;
        padding: 3%;
        h2 {
            font-size: 40px;
            line-height: 55px;
            text-align: center;
        }
        h4 {
            font-size: 24px;
            line-height: 33px;
            text-align: center;
        }
    }
    .course-card {
        padding: 16px;
        margin: 5%;
        height: 400px;
        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            font-family: "Cabin", sans-serif;
        }
        div {
            width: 100%;
            a {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #555555;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: end;
                img {
                    margin-left: 10px;
                }
            }
        }
    }
    .perfect-for-wrapper {
        h4 {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
        }
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
        }
    }
    .monitor {
        flex-direction: column;
        div {
            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
            }
        }
    }
    .solutions {
        div {
            padding: 15% 3%;
            h2 {
                font-size: 40px;
                line-height: 55px;
            }
            p {
                font-size: 24px;
                line-height: 33px;
            }
            button {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .satisfied-clients {
        background-position: bottom;
        padding-bottom: 30px;
        .clients-words {
            width: 90%;
            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .arijana {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        color: #555555;
        margin-top: -20px;
        img {
            max-width: 40%;
            height: auto;
            padding-right: 0px;
        }
        p {
            font-size: 14px;
            line-height: 17px;
            font-family: "Cabin", sans-serif;
        }
    }
    .forbes {
        width: 100%;
        h4 {
            font-size: 14px;
            line-height: 17px;
        }
        .forbes-card {
            h4 {
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
            }
            p {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .contact-us {
        .form-wrapper {
            width: 80%;
            margin: auto;
            .contact-us-title {
                font-size: 32px;
                line-height: 44px;
            }
            .form-p {
                font-size: 14px;
                line-height: 17px;
            }
            .form-inner {
                padding: 16px 32px;
                margin: 24px 0px;
                ._form_element {
                    margin: 2% 0%;
                }
                textarea {
                    width: 100%;
                    padding: 8px 8px 8px 16px;
                    border-radius: 12px;
                    border: none;
                }
                ._button-wrapper {
                    width: 100%;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 758px) and (max-width: 992px) {
    .header {
        .header-left {
            padding-bottom: 230px;
        }
    }
}


@media screen and (min-width: 1600px) {
    .bg 
    {
        padding-top: 5%;
    }
}
