@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(~assets/fonts/BebasNeue-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(~assets/fonts/Cabin-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(~assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(~assets/fonts/Montserrat-ExtraBold.ttf) format('truetype');
}