<form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_63_"
      class="_form _form_63 _inline-form  _dark" novalidate>
  <input type="hidden" name="u" value="63"/>
  <input type="hidden" name="f" value="63"/>
  <input type="hidden" name="s"/>
  <input type="hidden" name="c" value="0"/>
  <input type="hidden" name="m" value="0"/>
  <input type="hidden" name="act" value="sub"/>
  <input type="hidden" name="v" value="2"/>
  <input type="hidden" name="or" value="ff86e154b63bceb4630c36a69659376b"/>
  <div class="_form-content d-flex justify-content-center">

    <div class="d-flex align-items-center position-relative mobile-width">
      <div class="_form_element _x43394051 _full_width ">
        <div class="_field-wrapper d-flex justify-content-center">
          <input type="text" id="email" name="email" placeholder="E-mail" required/>
        </div>
      </div>
      <div class="_button-wrapper _full_width">
        <button id="_form_63_submit" class="_submit d-flex" type="submit">
          <img src="assets/reusable/message.png" alt="Message"> <span class="cabin">Sign up</span>
        </button>
      </div>
    </div>
    <div class="_clear-element">
    </div>
  </div>
  <div class="_form-thank-you" style="display:none;">
  </div>
</form>


