<div class="subscribe-img-wrapper d-none d-lg-flex">
    <img src="assets/reusable/arijana.png" alt="">
    <div class="subscribe-wrapper" [style.background]="subscribeBorder">
        <div class="subscribe-inner">
            <h2>Sign up for a free career call</h2>
            <p>With our <b class="cabin">award winning CEO.</b> <br> Arijana has
                helped over 500 students to reach their goals.

            </p>
            <div class="d-flex justify-content-center">
                <a href="https://calendly.com/creative-hub-academy/30min"
                    target="_blank"><button><img src="assets/homepage/video.svg"
                            class="me-2" alt="Video">Schedule here</button></a>
            </div>
            <!-- <app-career-coaching></app-career-coaching> -->
        </div>
    </div>
</div>
<footer class="footer-desktop d-none d-lg-block">
    <div class="footer container">

        <div class="footer-bottom d-flex justify-content-between">

            <div class="width">
                <div class="footer-left d-flex flex-column
                    justify-content-between">
                    <div>
                        <img src="../../../assets/reusable/ch-logo-grey.svg"
                            class="responsive" alt="Creative Hub Logo">
                        <!-- <div class="growth">|Successful careers <b
                                class="cabin"> made possible.</b></div> -->
                    </div>
                    <!-- <div class="footer-left-text">Miami-Dade Chamber of Commerce
                        Member
                    </div> -->

                    <div><img src="assets/reusable/30under30.png"
                            class="responsive " alt="30 under 30"></div>
                </div>
            </div>


            <div class="width">
                <div class="footer-title">Courses</div>
                <div class="footer-item" routerLink="/graphic-design-bootcamp">Graphic
                    Design</div>
                <div class="footer-item" routerLink="/front-end-bootcamp">Front
                    End
                    Development</div>
                <div class="footer-item" routerLink="/data-science-bootcamp">Data
                    Science</div>
                    <div class="footer-item" routerLink="/digital-marketing">Digital marketing</div>
            </div>

            <div class="width">
                <div class="footer-title">Career ups</div>
                <div class="footer-item">Benefits Program</div>
                <div class="footer-item">Travel & Learn</div>
                <div class="footer-item">Our Webinars</div>
            </div>

            <div class="width">
                <div class="footer-title">Contact us</div>
                <div class="footer-item">Rajko Zinzifov no.20, 1000 Skopje, North Macedonia</div>
                <a href="tel:7864799779">
                    <!-- <div class="footer-item">786 - 479 - 9779</div> -->
                </a>
                <a href="mailto: contact@creativehub.mk">
                    <div class="footer-item">arijana@creativehubacademy.co</div>
                </a>
                <div class="media d-flex">
                    <a href="https://www.facebook.com/creativehubmiami/"><img
                            src="../../../assets/fb-logo.svg"
                            class="responsive" alt="Facebook logo"></a>
                    <a
                        href="https://www.linkedin.com/company/creative-hub-academy/"><img
                            src="../../../assets/linkedin-logo.svg"
                            class="responsive" alt="Linkedin Logo"></a>
                    <a href="https://www.instagram.com/creativehubmiami/"><img
                            src="../../../assets/insta-logo.svg"
                            class="responsive" alt="Instagram Logo"></a>
                </div>
            </div>
        </div>

    </div>
</footer>
<div class="footer-copyright d-none d-lg-block">
    <div class="container d-flex align-items-end justify-content-between">
        <div class="copy">© Copyright 2022 Creative Hub</div>
        <!-- <div class="arrow d-flex justify-content-center"
    [style.background]="arrowBg" (click)="scrollToTop()"><img
        src="assets/arrow-up.png" alt=""></div> -->
        <div class="bottom-right">
                <div routerLink="/privacy-policy">Privacy Policy</div>
                <div routerLink="/community-guidelines">Community Guidelines</div>
                <div routerLink="/program-requirements">Program Requirements</div>
                <div routerLink="/cookies-policy">Cookie Policy</div>
        </div>

    </div>
</div>

<div class="subscribe-wrapper d-block d-lg-none">
    <div class="subscribe-inner">
        <h2>Sign up for a free career call</h2>

        <p>With our <b class="cabin">award winning CEO.</b> <br> Arijana
            has helped over 500 students to reach their goals.
            <div class="d-flex justify-content-center">
                <a
                    href="https://calendly.com/creative-hub-academy/30min"
                    target="_blank"><button><img
                            src="assets/homepage/video.svg" class="me-2"
                            alt="Video">Schedule here</button></a>
            </div>
        </div>
        <img src="assets/reusable/arijana.png" class="arijana-footer"
            alt="">
    </div>

<footer class="footer-mobile d-block d-lg-none">
    <div class="footer">
            <div class="logo"> <img
                    src="../../../assets/reusable/ch-logo-grey.svg"
                    class="responsive"
                    alt="Creative Hub Logo">
                <h3>|Successful careers made possible.</h3>
                <h4>Miami-Dade Chamber of Commerce Member
                </h4>
                <img src="../../../assets/reusable/30under30.png" class="img-30"
                    alt="">
            </div>

            <div class="footer-bottom d-flex justify-content-around">
                <div class="text-center">
                    <h3>Bootcamps</h3>
                    <div routerLink="/graphic-design-bootcamp">Graphic Design</div>
                    <div routerLink="/front-end-bootcamp">Front-end Development</div>
                    <div routerLink="/data-science-bootcamp">Data Science</div>
                    <div routerLink="/digital-marketing">Digital Marketing</div>
                </div>

                <div class="footer-right text-center">
                    <h3>Career Ups</h3>
                    <div>Benefits Program</div>
                    <div>Travel & Learn</div>
                    <div>Our Webinars</div>
                </div>
            </div>
            <div class="text-center">
                <h3 class="cabin">Contact us</h3>
                <div class="cabin">151 SE 1st Street, Miami, Florida 33131</div>
                <a href="tel:7864799779">
                    <div class="cabin" style="color: #C2C2C2;">786 - 479 - 9779</div>
                </a>
                <a href="mailto: contact@creativehub.mk">
                    <div class="footer-item">info@creativehubacademy.co</div>
                </a>
            </div>
        </div>
        <div class="footer-logos mt-5 py-3">
            <div class="footer-logos-wrapper d-flex justify-content-evenly">
                <a href="https://www.facebook.com/creativehubmiami/"><img
                        src="../../../assets/fb-logo.svg"
                        class="responsive" alt="Facebook logo"></a>
                <a
                    href="https://www.linkedin.com/company/creative-hub-academy/"><img
                        src="../../../assets/linkedin-logo.svg"
                        class="responsive"
                        alt="Linkedin Logo"></a>
                <img src="../../../assets/youtube-logo.svg" class="responsive"
                    alt="">
                <a href="https://www.instagram.com/creativehubmiami/"><img
                        src="../../../assets/insta-logo.svg"
                        class="responsive" alt="Instagram Logo"></a>
            </div>
        </div>
        <div class="footer-left-bottom">
            <div class="d-flex justify-content-between">
                <div routerLink="/cookies-policy">Cookie Policy</div>
                <div routerLink="/privacy-policy">Privacy Policy</div>
            </div>
            <div class="d-flex justify-content-between mt-1">
                <div routerLink="/community-guidelines">Community Guidelines</div>
                <div routerLink="/program-requirements">Program Requirements</div>
            </div>
        </div>
    </footer>
